@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?15919649');
  src: url('../font/fontello.eot?15919649#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?15919649') format('woff2'),
       url('../font/fontello.woff?15919649') format('woff'),
       url('../font/fontello.ttf?15919649') format('truetype'),
       url('../font/fontello.svg?15919649#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?15919649#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-flecha-abajo:before { content: '\e800'; } /* '' */
.icon-flecha-derecha:before { content: '\e801'; } /* '' */
.icon-flecha-arriba:before { content: '\e802'; } /* '' */
.icon-flecha-izquierda:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-buscar:before { content: '\e805'; } /* '' */
.icon-cerrar:before { content: '\e807'; } /* '' */
.icon-configurar:before { content: '\e808'; } /* '' */
.icon-equipos:before { content: '\e809'; } /* '' */
.icon-espectadores:before { content: '\e80a'; } /* '' */
.icon-futbol:before { content: '\e80b'; } /* '' */
.icon-estrella-llena:before { content: '\e80c'; } /* '' */
.icon-pass:before { content: '\e80d'; } /* '' */
.icon-usuario:before { content: '\e80e'; } /* '' */
.icon-añadir:before { content: '\e80f'; } /* '' */
.icon-correo:before { content: '\e810'; } /* '' */
.icon-eliminar:before { content: '\e811'; } /* '' */
.icon-telefono:before { content: '\e812'; } /* '' */
.icon-usuario-admin:before { content: '\e813'; } /* '' */
.icon-editar:before { content: '\e814'; } /* '' */
