
.icon-flecha-abajo:before { content: '\e800'; } /* '' */
.icon-flecha-derecha:before { content: '\e801'; } /* '' */
.icon-flecha-arriba:before { content: '\e802'; } /* '' */
.icon-flecha-izquierda:before { content: '\e803'; } /* '' */
.icon-check:before { content: '\e804'; } /* '' */
.icon-buscar:before { content: '\e805'; } /* '' */
.icon-cerrar:before { content: '\e807'; } /* '' */
.icon-configurar:before { content: '\e808'; } /* '' */
.icon-equipos:before { content: '\e809'; } /* '' */
.icon-espectadores:before { content: '\e80a'; } /* '' */
.icon-futbol:before { content: '\e80b'; } /* '' */
.icon-estrella-llena:before { content: '\e80c'; } /* '' */
.icon-pass:before { content: '\e80d'; } /* '' */
.icon-usuario:before { content: '\e80e'; } /* '' */
.icon-añadir:before { content: '\e80f'; } /* '' */
.icon-correo:before { content: '\e810'; } /* '' */
.icon-eliminar:before { content: '\e811'; } /* '' */
.icon-telefono:before { content: '\e812'; } /* '' */
.icon-usuario-admin:before { content: '\e813'; } /* '' */
.icon-editar:before { content: '\e814'; } /* '' */
