<template>
<div class="centrar centrar fondo-modal main-principal" style="height:100vh; width:100vw;">
    <div class="modal-principal">
            <div class="separar" >
                <p class="titulo">Crear Deporte</p>
                <button class="btn-cerrar" @click="cerrarModal"><img src="@/assets/iconos/icon-cerrar.svg" alt=""></button>
            </div>
            <div class="centrar" style="height: 30vh; padding: 50px;">
                <div class="div-inputs">
                    <label class="lbl">Nombre del deporte</label>
                    <input type="text" class="inps" placeholder="Deporte"  id="deporte" v-model="nombre">
                </div>
                <div class="div-inputs"  style="padding-right: 57px;">
                    <div class="file-select" id="src-file" >
                    <input type="file" name="src-file" aria-label="Archivo">
                    </div>
                    <label style="padding-top: 10px;" class="lbl">Solo archivos SVG con un tamaño menor de 500kb</label>
                </div>
            </div>
            <div class="linea-modal"></div>
            <div class="end">
                <button class="btn-dos text-btn-dos" @click="cerrarModal">Cerrar</button>
                <button class="btn-principal text-btn" @click="AddDeporte" >Crear</button>
            </div>
        </div>
</div>  
</template>


<script>
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/deporte/";
export default {
    name:'CrearDeporte',
    data(){
        return{
        nombre:"",
        imagen:"",
        deporte:[]
        }
    },
    methods:{
        limpiarInput(){
          this.nombre= ''
        },
        cerrarModal(){
            this.$emit('cerrarModal');
        },
        async AddDeporte(){
            let payload ={
                nombre: this.nombre,
                imagen: this.imagen,
            };
            try{
               document.getElementById("deporte").value = "";
                const { data } = await axios.post(ENDPOINT_PATH + "crear_deporte", payload, {
                    headers:{
                        "content-Type":"application/json"
                    }
                });
                this.deporte=data;
                console.log(data);
                this.$emit('cerrarModal');
                this.nombre= ''
                this.$emit('list');
                
                

            }
            catch(error){
                console.log(error);
            }
        }   
    }
}
</script>

<style scoped>
.titulo{
    font: normal 17px/20px sans-serif;
    margin-left: 19px;
    padding-top: 16px;
}
.btn-cerrar{
   right: 0;
    top: 13px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.div-inputs{
    padding-top: 30px;
}
.btn-dos{
    width: 90px;
    height: 40px;
    margin-right: 12px;
}
.btn-principal{
    width: 90px;
    height: 40px;
}
.btn-agg-icono{
  top: 536px;
  left: 164px;
  width: 230px;
  height: 40px;
  background: #FF1E5B 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  border: #a10c34 2px;
  border-style: none;
}
.btn-agg-icono:hover{
  box-shadow: 0px 5px 0px 0px #FF1E5B66
}
.text-btn{
    font: normal 16px/19px sans-serif;
}
.end{
    padding-bottom: 9px;
}
.centrar{
    flex-direction: column;
}
/*file*/

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #FF1E5B;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  width: 230px;
  height: 40px;
  
}

.file-select input[type="file"] {
    opacity: 0;
    width: 230px;
    height: 40px;
    display: inline-block;
    position: relative;
    right: 33px;
}

#src-file::before {
  content: 'Click para subir icono';
}

</style>