<template>
<div class="centrar fondo-modal main-principal" style="height:100vh; width:100vw;">
    <div class="modal-principal ">
            <div class="separar" >
                <p class="titulo">Añadir jugador</p>
                <button class="btn-cerrar " @click="cerrarModalAdd()"><img src="@/assets/iconos/icon-cerrar.svg" alt=""></button>
            </div>
            <div class="centrar">
                <div class="agg">
                </div>
                 <div class="div-inputs">
                    <div class="div-inputs">
                        <label class="lbl">Nombres</label>
                        <input type="text" class="inps" placeholder="Nombres">
                    </div>
                    <div class=" div-inputs">
                        <label class="lbl">Apellidos</label>
                        <input type="text" class="inps" placeholder="Apellidos">
                    </div>
                    <div class="div-inputs">
                        <label class="lbl">posición</label>
                            <select type="text" class="inps">
                                <option disabled selected class="inps">Seleccionar</option>
                                <option >unoun</option>
                            </select>
                    </div>
                    <div class="div-inputs" style="padding-bottom:0">
                        <label class="lbl">Nivel deportivo</label>
                        <p class="clasificacion" style="margin-bottom:0">
                            <input id="radio1" type="radio" name="estrellas" value="5">
                            <label for="radio1">
                                <i class="icon-estrella-llena "/>
                            </label>
                            <input id="radio2" type="radio" name="estrellas" value="4">
                            <label for="radio2">
                                <i class="icon-estrella-llena "/>
                            </label>
                            <input id="radio3" type="radio" name="estrellas" value="3">
                            <label for="radio3">
                                <i class="icon-estrella-llena "/>
                            </label>
                            <input id="radio4" type="radio" name="estrellas" value="2">
                            <label for="radio4">
                                <i class="icon-estrella-llena "/>
                            </label>
                            <input id="radio5" type="radio" name="estrellas" value="1">
                            <label for="radio5">
                                <i class="icon-estrella-llena "/>
                            </label>
                        </p>
                    </div>
                    
                </div>
            </div>
            <div >
                <div class="linea-modal ">

                </div>
            </div>
            <div class="end">
                <button class="btn-dos text-btn-dos" @click="cerrarModalAdd()">Cerrar</button>
                <button class="btn-principal text-btn">Guardar</button>
            </div>
        </div>
</div>
    
</template>


<script>
export default {
    methods:{
        cerrarModalAdd(){
            this.$emit('cerrarModalAdd')
        }
    }
}
</script>

<style scoped>
.icon-estrella-llena{
    font-size: 25px;
}
input[type="radio"] {
  display: none;
}
.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}
input[type="radio"]:checked ~ label {
  color: orange;
}
.icon-estrella-llena:hover,
label:hover ~ label {
  color: orange;
}
.modal-principal{
    width: 760px;
}
.titulo{
    font: normal 17px/20px sans-serif;
    margin-left: 35px;
    margin-top: 22px;
}
.btn-cerrar{
   right: 0;
    top: 13px;
    bottom: 157px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.lbl{
    margin-left: 17px;
}

.btn-dos{
    width: 90px;
    height: 40px;
    margin-right: 12px;
}
.btn-principal{
    width: 90px;
    height: 40px;
}
.text-btn{
    font: normal normal medium 16px/19px sans-serif;
}
.agg{
    width: 160px;
    height: 160px;
    background: #DFE4E8 0% 0% no-repeat padding-box;
    margin-right: 46px;
    margin-bottom: auto;
}
.div-inputs{
    padding-bottom: 20px;
}
.end{
    padding-bottom: 9px;
}
</style>