<template>
<div class="centrar  fondo-modal main-principal " style="height:100vh; width:100vw;">
    <div class="modal-principal">
            <div class="separar" >
                <p class="titulo">Editar imagen</p>
                <button class="btn-cerrar" @click="cerrarModal()"><img src="@/assets/iconos/icon-cerrar.svg" alt=""></button>
            </div>
            <div class="centrar" style="margin: 20px;">
                 <div class="agg" style="">
                                <vueCropper
                                ref="cropper"
                                :img="option.img"
                                :outputSize="option.size"
                                :outputType="option.outputType"
                                :original="option.original"
                                ></vueCropper>
                </div>
            </div>
            <div class="linea-modal ">

            </div>
            <div class="end">
                <button class="btn-dos text-btn-dos" @click="cerrarModal">Cerrar</button>
                <button class="btn-principal text-btn" >Editar</button>
            </div>
        </div>
</div>  
</template>


<script>
export default {
    data(){
        return{
            option: {
                    img: 'https://avatars2.githubusercontent.com/u/15681693?s=460&v=4',
                    size: 1,
                    full: true,
                    outputType: 'png',
                    canMove: true,
                    fixedBox: false,
                    original: true,
                    canMoveBox: true,
                    autoCrop: true,
                    autoCropWidth: 160,
                    autoCropHeight: 150,
                    centerBox: false,
                    high: true,
                    max: 99999
                    }
            }
    },
    props:{
        posicionDelete:Number
    },
    methods:{
        cerrarModal(){
            this.$emit('cerrarModal')
        },
        cerrarModalP(){
            this.$emit('cerrarModalP')
        },
    }
}
</script>

<style scoped>
.modal-principal{
    width: 400px;
    height: auto;
}
.titulo{
    font: normal 17px/20px sans-serif;
    margin-left: 19px;
    padding-top: 16px;
}
.btn-cerrar{
   right: 0;
    top: 13px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.btn-dos{
    width: 90px;
    height: 40px;
    margin-right: 12px;
}
.btn-principal{
    width: 90px;
    height: 40px;
}
.text-btn{
    font: normal normal medium 16px/19px sans-serif;
}
.end{
    padding-bottom: 9px;
}
.fondo-modal{
    right: 0px;
}
.agg{   
    width: 160px;
    height: 160px; 
    background: #DFE4E8 0% 0% no-repeat padding-box;
}
.logo{
    left: 204px;
    width: 160px;
    height: 160px;
    
}
</style>