<template>
<div class="centrar centrar fondo-modal main-principal " style="height:100vh; width:100vw;">
    <div class="modal-principal">
            <div class="separar" >
                <p class="titulo">Eliminar deporte</p>
                <button class="btn-cerrar" @click="cerrarModal"><img src="@/assets/iconos/icon-cerrar.svg" alt=""></button>
            </div>
            <div class="centrar" style="height:94px;">
                <p>¿Desea eliminar este deporte?</p>
            </div>
            <div class="linea-modal ">

            </div>
            <div class="end">
                <button class="btn-dos text-btn-dos" @click="cerrarModal">Cerrar</button>
                <button class="btn-principal text-btn" @click="deleteDeporte">Eliminar</button>
            </div>
        </div>
</div>  
</template>


<script>
import axios from "axios";
const ENDPOINT_PATH_UNO = "http://127.0.0.1:8000/api/deporte/";
export default {
    data(){
        return{
            deportes:[]
        }
    },
    props:{
        deporteDelete:Number
    },
    methods:{
        cerrarModal(){
            this.$emit('cerrarModal')
        },
        async deleteDeporte() {
            try {
                const { data } = await axios.delete( ENDPOINT_PATH_UNO + "delete_deporte/" + this.deporteDelete);
                this.deportes = data.deportes;
                console.log(this.deportes);
                console.log(this.idDeporte);
                this.cerrarModal()
                this.$emit('list');
            } 
            catch (error) {
                console.log(error);
            }
        } 
    }
}
</script>

<style scoped>
.modal-principal{
    width: 400px;
}
.titulo{
    font: normal 17px/20px sans-serif;
    margin-left: 19px;
    padding-top: 16px;
}
.btn-cerrar{
   right: 0;
    top: 13px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.btn-dos{
    width: 90px;
    height: 40px;
    margin-right: 12px;
}
.btn-principal{
    width: 90px;
    height: 40px;
}
.text-btn{
    font: normal normal medium 16px/19px sans-serif;
}
.end{
    padding-bottom: 9px;
}
</style>