<template>
<div class="centrar fondo-modal main-principal " style="height:100vh; width:100vw;">
    <div class="modal-principal">
            <div class="separar" >
                <p class="titulo">Eliminar posición</p>
                <button class="btn-cerrar" @click="cerrarModal()"><img src="@/assets/iconos/icon-cerrar.svg" alt=""></button>
            </div>
            <div class="centrar" style="height:94px; margin: 10px;">
                <p>No puedes eliminar esta posición por que ha sido usado anteriormente</p>
            </div>
            <div class="end">
            </div>
        </div>
</div>  
</template>


<script>
export default {
    methods:{
        cerrarModal(){
            this.$emit('cerrarModal')
        }
    }
}
</script>

<style scoped>
.modal-principal{
    width: 400px;
}
.titulo{
    font: normal 17px/20px sans-serif;
    margin-left: 19px;
    padding-top: 16px;
}
.btn-cerrar{
   right: 0;
    top: 13px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.btn-dos{
    width: 90px;
    height: 40px;
    margin-right: 12px;
}
.btn-principal{
    width: 90px;
    height: 40px;
}
.text-btn{
    font: normal normal medium 16px/19px sans-serif;
}
.end{
    padding-bottom: 9px;
}
.fondo-modal{
    right: 0px;
}
</style>