<template>
<div class="centrar" style="height:100vh; width:100vw;">
    <div class="modal-principal">
            <div class="separar" >
                <p class="titulo">Eliminar jugador</p>
                <button class="btn-cerrar "><img src="@/assets/iconos/icon-cerrar.svg" alt=""></button>
            </div>
            <div class="centrar" style="height:94px;">
                <p>¿Desea eliminar este jugador?</p>
            </div>
            <div class="linea-modal ">

            </div>
            <div class="end">
                <button class="btn-dos text-btn-dos">Cerrar</button>
                <button class="btn-principal text-btn">Eliminar</button>
            </div>
        </div>
</div>
    
</template>


<script>
export default {
    
}
</script>

<style scoped>
.modal-principal{
    width: 400px;
    height: 196px;
}
.titulo{
    font: normal 17px/20px sans-serif;
    margin-left: 19px;
    padding-top: 16px;
}
.btn-cerrar{
   right: 0;
    top: 13px;
    bottom: 157px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.btn-dos{
    width: 90px;
    height: 40px;
    margin-right: 12px;
}
.btn-principal{
    width: 90px;
    height: 40px;
}
.text-btn{
    font: normal normal medium 16px/19px sans-serif;
}
.end{
    padding-bottom: 9px;
}
</style>