<template>
<div class="centrar fondo-modal main-principal" >
    <div class="modal-principal">
            <div class="separar" >
                <p class="titulo">Eliminar administrador</p>
                <button class="btn-cerrar" @click="cerrarModal"><img src="@/assets/iconos/icon-cerrar.svg" alt=""></button>
            </div>
            <div class="centrar" style="height:94px;">
                <p>¿Desea eliminar este administrador?</p>
            </div>
            <div class="linea-modal ">

            </div>
            <div class="end">
                <button class="btn-dos text-btn-dos" @click="cerrarModal">Cerrar</button>
                <button class="btn-principal text-btn" @click="deleteAdmin">Eliminar</button>
            </div>
        </div>
</div>
    
</template>


<script>
import axios from "axios";
const ENDPOINT_PATH_UNO = "http://127.0.0.1:8000/api/admin/";
export default {
    data(){
        return{
            admin:0,
            admins:[]
        }
    },
    props:{
        adminDelete:Number
    },
    methods:{
        cerrarModal(){
            this.$emit('cerrarModal')
        },
        async deleteAdmin() {
            console.log(this.adminDelete);
            try {
                const { data } = await axios.delete( ENDPOINT_PATH_UNO + "delete-admin/" + this.adminDelete);
                this.admins = data.admins;
                console.log(this.admins);
                console.log(this.adminDelete);
                this.$emit('cerrarModal');
                this.$router.push({name: 'Administradores CX' })
            } 
            catch (error) {
                console.log(error);
            }
        } 
    }
    
}
</script>

<style scoped>
.modal-principal{
    width: 400px;
}
.titulo{
    font: normal 17px/20px sans-serif;
    margin-left: 19px;
    padding-top: 16px;
}
.btn-cerrar{
   right: 0;
    top: 13px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.btn-dos{
    width: 90px;
    height: 40px;
    margin-right: 12px;
}
.btn-principal{
    width: 90px;
    height: 40px;
}
.text-btn{
    font: normal normal medium 16px/19px sans-serif;
}
.end{
    padding-bottom: 9px;
}
</style>