<template>
<div>
    <template>
        <div >
            <sidebar/>
            <div class="contenedor">
                <navbar />
                <div class="row nav-contenido " >
                    <div class="col-md-6" style="padding-left:0; padding-right:0;">
                        <h3 class="titulo">Deportes y Posiciones</h3>
                    </div>
                    <div class="" style="">
                        <button class="btn-principal text-btn" type="submit" @click="GoToAdd()">crear deporte</button>
                    </div>
                </div>
                <row-sport 
                 v-for="(objDeporte,index) in deportes"
                 :key= index   
                 :id="objDeporte.id"
                 :nombre="objDeporte.nombre"
                 :equiposCount="objDeporte.equipos_count"
                 :collapseDeporte="collapseDeporte"
                 :deporte="objDeporte"
                 @GotoEditar="GotoEditar"
                 @GotoDelete="GotoDelete"
                 @GoToCollapse="GoToCollapse"
                 @listarDeporte="listarDeporte"
                 
                />
                
            </div>    
        </div>
    </template>
    <eliminarDeporte :class="eliminarDeporte ? 'mostrar-modal':''" @cerrarModal="cerrarModal" :deporteDelete="deporteDelete" @list="listarDeporte"/>
    <eliminarDeporteDos :class="eliminarDeporteDos ? 'mostrar-modal':''" @cerrarModal="cerrarModalDos" :deporteDelete="deporteDelete" />
    <eliminarPosicion :class="eliminarPosicion ? 'mostrar-modal':''" @cerrarModal="cerrarModalP" @list="listarDeporte"/>
    <addDeporte :class="addDeporte ? 'mostrar-modal':''" @cerrarModal="cerrarModalEdit" @list="listarDeporte"/>
    <editarDeporte :class="editarDeporte ? 'mostrar-modal-editar':''" @cerrarModalEditar="cerrarModalEditar" :deporteEdit="deporteEdit" @list="listarDeporte"/>
</div>
    
</template>

<script>
import eliminarDeporte from '@/components/modales/eliminarDeporte.vue'
import eliminarDeporteDos from '@/components/modales/eliminarDeporteDos.vue'
import eliminarPosicion from '@/components/modales/eliminarPosicion.vue'
import addDeporte from '@/components/modales/addDeporte.vue'
import editarDeporte from '@/components/modales/editarDeporte.vue'

import rowSport from '@/components/tarjetaDeporte/rowSport.vue'
import axios from "axios";
/*const ENDPOINT_PATH = "http://127.0.0.1:8000/api/posicion/";*/
const ENDPOINT_PATH_UNO = "http://127.0.0.1:8000/api/deporte/";
export default {
    name:'Configuraciones',
    computed: {
    NombreVista() {
        return this.$route.name;
    }
    },
    created:function(){
        this.listarDeporte();
    },
    components:{
        eliminarDeporte,
        eliminarPosicion,
        addDeporte,
        editarDeporte,
        eliminarDeporteDos,
        rowSport
    },
    data(){
        return{
            eliminarDeporte: false,
            eliminarDeporteDos: false,
            eliminarPosicion: false,
            addDeporte:false,
            editarDeporte:false,
            collapseDeporte:false,
            nombre_posicion:"",
            deporte_id:"",
            deporte:0,
            deportes:[],
            deporteEdit:{},
            deporteDelete:0,
            deportePosicion:0,
            posicion:0,
            posiciones:[],
            idDeporte:0

        }

    },
    
    methods:{
        GoToAdd(){
        this.addDeporte=!this.addDeporte;
      },
      cerrarModalEdit(){
          this.addDeporte=!this.addDeporte;
          console.log("cerrado desde tarjeta")
      },
      GotoDelete(id){          
         try {
             const deporte = this.deportes.find(o => o.id === id)
             if (deporte.equipos_count===0 && !deporte.posiciones.length) {
                this.eliminarDeporte=!this.eliminarDeporte;
                this.deporteDelete=deporte.id;
             } else {
                  this.eliminarDeporteDos=!this.eliminarDeporteDos;
                    this.deporteDelete=deporte.id;
       
             }
             
         } catch (error) {
             console.log(error);
         }

      
      },
      GoToCollapse(idCol){
          
          try {
              const deporte = this.deportes.find(o => o.id === idCol)
              console.log(this.posiciones);
              this.idDeporte=deporte.id;
              let id= `div-collapse${deporte.id}`;
              let d= document.getElementById(id).style.display;
              console.log(d, "desde la tarjeta");
              console.log(this.idDeporte, this.posiciones.posiciones,'listar posiciones');
            if (d=='none') {
                  d='flex'
                  document.getElementById(id).style.display='flex'
                this.deportePosicion=deporte.id;
              }
                else if(d=='flex'){
                  d='none'
                  document.getElementById(id).style.display='none'
              }
          
              
          } catch (error) {
            console.log(error);  
          }
       
      },
      cerrarCollapse(){
        this.eliminarDeporte=!this.eliminarDeporte;
       console.log('cerrar')
      },
      cerrarModal(){
       this.eliminarDeporte=!this.eliminarDeporte;
       console.log('sisi')
       },
      cerrarModalDos(){
       this.eliminarDeporteDos=!this.eliminarDeporteDos;
       },
      GotoDeleteP(){
       this.eliminarPosicion=!this.eliminarPosicion;
      },
      cerrarModalP(){
       this.eliminarPosicion=!this.eliminarPosicion;
      },
      GotoEditar(id){
        const deporte = this.deportes.find(o => o.id === id)
       this.editarDeporte=!this.editarDeporte;
       this.deporteEdit= deporte;
      },
      cerrarModalEditar(){
       this.editarDeporte=!this.editarDeporte;
       },
      async listarDeporte(){
          const{ data }= await axios.get(ENDPOINT_PATH_UNO + 'listar_deporte');
          this.deportes=data.deportes;
          console.log(this.deportes, 'lista desde tarjeta');
      }, 
    }
}

</script>

<style scoped>
.mostrar-modal{
    z-index: 4;
    display: grid !important;
}
.mostrar-modal-p{
    z-index: 4;
    display: grid !important;
}
.mostrar-modal-editar{
    z-index: 4;
    display: grid !important;
}
.mostrar-collapse{
    z-index: 4;
    display: grid !important;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.contenedor{
    margin-left: 180px;
}
.div-inputs{
    padding-left: 15px;
}
/*.div-collapse{
    display: none;
}*/
.titulo{
    font: normal normal bold 28px/35px sans-serif; 
}
.lbl-deporte{
    font: normal  bold 20px/25px sans-serif;
    color: black;
    width: 160px;
    text-align: left;
}
.lbl{
    margin-left: 10px;
}
.tres_puntos{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.inps{
    margin-right: 25px;
    width: 280px;
}
.inp-info{
    height: 171px;
    border: #DFE4E8 0.5px solid;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}
.div-deporte{
    border: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: #bec2c5;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.div-equipos{
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #bec2c5;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 7px;
}
.div-flecha{   
    border: 1px solid;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #c4d2df;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 7px;
}
.div-ediccion{
    display: flex;
}
.icon-futbol{
    font-size: 40px;
    color: black;
}

.btn-ediccion{
    width: 40px;
    height: 40px;
}
.btn-principal{
    width: 160px;
}



/* */
</style>