<template>
  <div>
    <template>
      <div>
        <sidebar />
        <div class="contenedor">
          <navbar />
          <validation-observer v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(AddAdmin)">
              <div class="row">
                <div class="col-md-6" style="padding-left: 0; padding-right: 0">
                  <h3 class="titulo">{{ NombreVista }}</h3>
                </div>
                <div class="col-md-2" style="padding-left: 0; padding-right: 0">
                  <button
                    class="btn-principal text-btn"
                    type="submit"
                  >
                    Guardar
                  </button>
                </div>
              </div>
              <div style="padding-top: 30px; padding-bottom: 30px">
                <div class="row" style="padding-top: 30px">
                  <div class="agg" @click="agregarImg">
                    <label
                      class="lbl"
                      style="margin-left: 0px; padding-top: 60px"
                    >
                      Añadir imagen</label
                    >
                    <!--<slim-cropper :options="slimOptions">
                                <input type="file" name="slim" />
                                </slim-cropper>-->
                  </div>

                  <div class="div-inputs">
                    <validation-provider
                      rules="required|alpha"
                      v-slot="{ errors }"
                      style=""
                    >
                      <div class="div-inputs">
                        <label class="lbl">Nombres</label>
                        <input
                          type="text"
                          class="inps"
                          placeholder="Nombres"
                          v-model="nombres"
                        />
                        <label class="lbl-validation">{{ errors[0] }}</label>
                      </div>
                    </validation-provider>
                    <validation-provider
                      rules="required|alpha"
                      v-slot="{ errors }"
                      style=""
                    >
                      <div class="div-inputs">
                        <label class="lbl">Apellidos</label>
                        <input
                          type="text"
                          class="inps"
                          placeholder="Apellidos"
                          v-model="apellidos"
                        />
                        <label class="lbl-validation">{{ errors[0] }}</label>
                      </div>
                    </validation-provider>

                    <validation-provider
                      rules="required|email"
                      v-slot="{ errors }"
                      style=""
                    >
                      <div class="div-inputs">
                        <label class="lbl">Correo electrónico</label>
                        <input
                          type="text"
                          class="inps"
                          placeholder="Correo electrónico"
                          v-model="email"
                        />
                        <label class="lbl-validation">{{ errors[0] }}</label>
                      </div>
                    </validation-provider>
                    <validation-provider
                      rules="required"
                      vid="confirmation"
                      v-slot="{ errors }"
                      style=""
                    >
                      <div class="div-inputs">
                        <label class="lbl">Contraseña</label>
                        <input
                          type="password"
                          class="inps"
                          placeholder="Contraseña"
                          v-model="password"
                        />
                        <label class="lbl-validation">{{ errors[0] }}</label>
                      </div>
                    </validation-provider>
                  </div>
                  <div class="div-inputs">
                    <validation-provider
                      rules="required|alpha|max:200"
                      v-slot="{ errors }"
                    >
                      <div class="div-inputs">
                        <label class="lbl" for=""
                          >Acerca del administador</label
                        >
                        <textarea
                          class="inp-info"
                          placeholder="Acerca"
                          v-model="acerca"
                        />
                        <label class="lbl-validation">{{ errors[0] }}</label>
                      </div>
                    </validation-provider>
                    <validation-provider
                      rules="required|numeric"
                      v-slot="{ errors }"
                      style=""
                    >
                      <div class="div-inputs">
                        <label class="lbl">Teléfono celular</label>
                        <input
                          type="text"
                          class="inps"
                          placeholder="Teléfono celular"
                          v-model="telefono"
                        />
                        <label class="lbl-validation">{{ errors[0] }}</label>
                      </div>
                    </validation-provider>
                    <validation-provider
                      rules="required|confirmed:confirmation"
                      v-slot="{ errors }"
                      style=""
                    >
                      <div class="div-inputs">
                        <label class="lbl">Repetir contraseña</label>
                        <input
                          type="password"
                          class="inps"
                          placeholder="Repetir contraseña"
                          v-model="repetirPassword"
                        />
                        <label class="lbl-validation">{{ errors[0] }}</label>
                      </div>
                    </validation-provider>
                  </div>
                </div>
              </div>
            </form>
          </validation-observer>
        </div>
      </div>
    </template>
    <addImagen
      :class="addImagen ? 'mostrar-modal' : ''"
      @cerrarModal="cerrarModal"
    />
  </div>
</template>

<script>
import addImagen from "@/components/modales/addImagen.vue";
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/admin/";
export default {
  name: "CrearAdmin",
  computed: {
    NombreVista() {
      return this.$route.name;
    },
  },
  data() {
    return {
      slimOptions: {
        label: "Añadir imagen",
      },
      addImagen: false,
      email: "",
      nombres: "",
      apellidos: "",
      imagen: "",
      password: "",
      repetirPassword: "",
      telefono: "",
      acerca: "",
      admins: [],
    };
  },
  components: {
    addImagen,
  },
  methods: {
    cerrarModal() {
      this.addImagen = !this.addImagen;
    },
    agregarImg() {
      this.addImagen = !this.addImagen;
    },
    async AddAdmin() {
      let payload = {
        email: this.email,
        nombres: this.nombres,
        apellidos: this.apellidos,
        password: this.password,
        telefono: this.telefono,
        acerca: this.acerca,
      };
      try {
        const { data } = await axios.post(
          ENDPOINT_PATH + "crear_admins",
          payload,
          {
            headers: {
              "content-Type": "application/json",
            },
          }
        );
        this.admins = data;
        console.log(data);
        this.$router.push({ name: "Administradores CX" });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.mostrar-modal {
  z-index: 4;
  display: grid !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.contenedor {
  margin-left: 180px;
}
.div-inputs {
  padding-left: 15px;
}
.titulo {
  font: normal normal bold 50px/60px sans-serif;
}
.agg {
  width: 160px;
  height: 160px;
  background: #dfe4e8 0% 0% no-repeat padding-box;
  border-radius: 100%;
}
.inps {
  margin-right: 25px;
}
.inp-info {
  height: 160px;
  border: #dfe4e8 0.5px solid;
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 25px;
}
.lbl {
  font: normal 16px/28px sans-serif;
}
</style>