<template>
  <div>
    <template>
      <div>
        <sidebar />
        <div class="contenedor">
          <navbar />
          <div class="row" style="margin: auto">
            <div class="col">
              <div style="align-items: center">
                <h3 class="titulo">
                  {{ admins.nombres + " " + admins.apellidos }}
                </h3>
                <div class="d-flex" style="margin-left: 15px">
                  <div class="rectangulo"></div>
                  <div class="rectangulo-dos"></div>
                </div>
              </div>
              <div style="display: flex; padding-top: 40px; padding-left: 35px">
                <div class="d-flex" style="">
                  <div>
                    <img
                      src="@/assets/entrenadores/DT julian_nagelsmann.jpg"
                      class="logo"
                      alt=""
                    />
                  </div>
                </div>
                <div style="padding-left: 25px">
                  <div class="div-info">
                    <div class="">
                      <i class="icon-correo"></i>
                    </div>
                    <div style="padding-left: 21px">
                      <label class="lbl">{{admins.email}}</label>
                    </div>
                  </div>
                  <div class="div-info">
                    <div class="">
                      <i class="icon-telefono" style="font-size: 20px"></i>
                    </div>
                    <div style="padding-left: 15px">
                      <label class="lbl">{{admins.telefono}}</label>
                    </div>
                  </div>
                  <div class="div-info">
                    <div class="">
                      <i class="icon-pass" style="font-size: 20px"></i>
                    </div>
                    <div style="padding-left: 15px">
                      <label class="lbl">h4t1s8ac5c4v</label>
                    </div>
                  </div>
                  <div class="div-ediccion" style="">
                    <div class="tooltip-container">
                      <div class="tooltip-trigger">
                        <button class="btn-ediccion" @click="GoToEdit()">
                          <i class="icon-editar icon-ediccion"></i>
                        </button>
                      </div>
                      <div class="tooltip-one">Editar</div>
                    </div>
                    <div class="tooltip-container">
                      <div class="tooltip-trigger">
                        <button class="btn-ediccion" @click="GotoDelete()">
                          <i class="icon-eliminar icon-ediccion"></i>
                        </button>
                      </div>
                      <div class="tooltip-one">Eliminar</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="div-acerca">
                <div>
                  <label class="titulo">Acerca de {{admins.nombres}}</label>
                </div>
                <div>
                  <p class="info">
                    {{admins.acerca}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
    <eliminarAdmin
      :class="eliminarAdmin ? 'mostrar-modal' : ''"
      @cerrarModal="cerrarModal" :adminDelete="adminDelete"
    />
  </div>
</template>

<script>
import eliminarAdmin from "@/components/modales/eliminarAdmin.vue";
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/admin/";
export default {
  name: "adminInfo",
  created: function () {
    this.listarAdminUno();
  },
  computed: {
    idAdmin() {
      return this.$route.params.id;
    },
  },
  components: {
    eliminarAdmin,
  },
  data() {
    return {

      admin: 0,
      admins: [],
      adminDelete:0,
      eliminarAdmin: false,
    };
  },
  methods: {
    GoToEdit() {
      this.$router.push({ name: "Editar administrador" });
    },
    GotoDelete() {
      this.eliminarAdmin = !this.eliminarAdmin;
      this.adminDelete= this.admins.id;
    },
    cerrarModal() {
      this.eliminarAdmin = !this.eliminarAdmin;
    },
    async listarAdminUno() {
      const { data } = await axios.get(
        ENDPOINT_PATH + "listar_admins_uno/" + this.idAdmin
      );
      this.admins = data.admins;
      console.log(this.admins);
    },
  },
};
</script>

<style scoped>
.mostrar-modal {
  z-index: 4;
  display: grid !important;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.col {
  padding: 0;
}
.tarjetas {
  padding-top: 40px;
}
.contenedor {
  margin-left: 180px;
  z-index: 2;
}
.titulo {
  font: normal normal bold 45px/50px sans-serif;
  margin: 0;
}
.icon-telefono {
  color: #000000;
}
.icon-pass {
  color: #000000;
}
.icon-correo {
  color: #000000;
}
.agg {
  width: 160px;
  height: 160px;
  background: #dfe4e8 0% 0% no-repeat padding-box;
}
.div-ediccion {
  display: flex;
}
.div-info {
  display: flex;
  padding: 10px;
  align-items: baseline;
}

.icon-ediccion {
  font-size: 26px;
}
.icon-ediccion:hover {
  color: white;
}
.logo {
  height: 220px;
  border-radius: 100%;
}
.lbl {
  font: normal 20px/20px sans-serif;
  color: #000000;
}
.div-acerca {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 35px;
}
.info {
  font: normal 16px/19px sans-serif;
  letter-spacing: 0px;
  color: #000000;
  width: 640px;
  text-align: justify;
  padding-top: 15px;
  padding-right: 25px;
}
.rectangulo {
  width: 250px;
  height: 5px;
  background: #64c1ff;
  border-radius: 100px;
  margin-top: 8px;
}
.rectangulo-dos {
  width: 15px;
  height: 5px;
  background: #64c1ff;
  border-radius: 100px;
  margin-top: 8px;
  margin-left: 5px;
}
</style>