<template>
    <div >
        <template>
            <div >
                <sidebar/>
                <div class="contenedor">
                    <navbar/>
                    <div class="row nav-contenido " >
                        <div class="col-md-6" style="padding-left:0">
                            <h3 class="titulo">{{NombreVista}}</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="contenedor-icon">
                                    <i class="icon-buscar icono-buscar"></i>
                                    <input class="inp-buscar" type="text" id="buscador" placeholder="Search" v-model="textoBuscar"> 
                                    <button class="btn-cerrar" type="submit" @click="limpiarInput()"><i class="icon-cerrar" /></button>
                                </div>
                                <div class="div-boton">
                                  <button class="btn-principal text-btn" type="submit" @click="GoToAddAdmin()">Crear Administrador</button>  
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <adminList v-for="(objAdmin, index) in items" 
                        :key="index"
                        :id="objAdmin.id"
                        :nombres="objAdmin.nombres"
                        :apellidos="objAdmin.apellidos"
                        :acerca="objAdmin.acerca"
                        :textoBuscar="textoBuscar"
                        />                 
                    </div>
                </div>
            </div>   
        </template>
    </div>
</template>


<script>

import adminList from '@/components/tarjetaAdmin/adminList.vue'
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/admin/";
export default {
    name:'Administradores',
    components:{
        adminList
    },
    data(){
        return{
            admin:0,
            admins:[],
            textoBuscar:''
        }
    },
    created:function(){
        this.listarAdmin();
    },
    computed: {
        NombreVista() {
            return this.$route.name;
        },
        items() {
            return this.admins;
           
        }

    },
    
    methods:{
      GoToAddAdmin(){
        this.$router.push({name:'Crear Administrador'})
      },
      limpiarInput(){
          this.textoBuscar= ''
      },
      async listarAdmin(){
          const{data}= await axios.get(ENDPOINT_PATH+'listar_admins');
          this.admins=data.admins;
          console.log(this.admins);
      }
    },
    

}
</script>

<style scoped>
.contenedor{
    margin-left: 180px;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 60%;
  }
.tooltip-one{
    max-width: 100%;
    border-radius: 22px;
    top: 275px;
    
}
.position-tooltip{
    margin-left: 25px;
}
.position{
    position: relative; 
    z-index: -1;
}
.icon-cerrar{
    font-size: 10px;
}
.icon-usuario-admin{
    font-size: 160px;
    color: #9DA8B1;
}
.nav-contenido{
    padding-top: 30px;
}
.inp-buscar{
    top: 172px;
    left: 712px;
    width: 230px;
    height: 40px;
    border: 1px solid var(--gris-claro-borde);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 20px;
    padding: 0.25em 0.6em;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}
.btn-cerrar{
    right: 65px;
    width: 30px;
    height: 30px;
    top: 5px;
}


.row{
    margin-left: 0;
    margin-right: 0;
}
.tarjetas{
  padding-top: 40px;
  padding-left: 0;
}
.info{
    font: normal 11px/15px sans-serif;
    margin-bottom: 0px;
}
.logo{
    left: 204px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
}
.logo:hover{
    box-shadow: 1px 0px 20px 5px rgb(182, 181, 181);
}
.titulo-tarjeta{
    padding-top: 20px;
    text-align: center;
    font: normal  bold 25px/31px sans-serif ;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 0px;
}
.div-btn{
    display: inline-flex;
    align-items: center;
}
.icon-deporte-fondo{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background: #637381 0% 0% no-repeat padding-box;
    border: none;
}
.icono-buscar{
    position: relative;
    left: 28px;
    top: 9px;
}
.icon-deporte{
    font-size: 27px;
    color: white;
}
.icon-espectadores-fondo{
   
    height: 40px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 19px;
    border: none;
    display: flex;
}
.icon-espectadores{
    font-size: 25px;
    color: #FFFFFF;
}
.num-espectadores{
    text-align: end;
    font: normal  16px/19px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 9px;
    margin-left: 2px;
}

.contenedor-icon{
    display: flex;
    justify-content: center;
}
.rectangulo {
     width: 120px; 
     height: 5px; 
     background: #64C1FF;
     border-radius: 100px;
     margin-top: 8px;
}
.rectangulo-dos {
    width: 15px;
    height: 5px;
    background: #64C1FF;
    border-radius: 100px;
    margin-top: 8px;
    margin-left: 5px;
}
@media (max-width: 1000px) {
  .col-md-3 {
    flex: 0 0 33%;
    max-width: 60%;
  }
}
@media (max-width: 700px) {
  .col-md-3 {
    flex: 0 0 50%;
    max-width: 60%;
  }
}
.div-boton{

}
@media (max-width: 1174px) {
  .div-boton{
      margin-left: 55px;
       padding-top: 10px;
  }
}
</style>