<template>
<div>
    <template>
        <div >
            <sidebar/>
            <div class="contenedor">
                <navbar/>
                <validation-observer v-slot="{ invalid }">
                <div class="row ">
                    <div class="col-md-6" style="padding-left:0; padding-right:0;">
                        <h3 class="titulo">{{NombreVista}}</h3>
                    </div>
                    <div class="col-md-2" style="padding-left:0; padding-right:0;">
                        <button class="btn-principal text-btn" type="submit" :disabled="invalid" @click="editarAdmin">Guardar</button>
                    </div>
                </div>
                <div style="padding-top:30px; padding-bottom: 30px;">
                    <div class="row" style="padding-top:30px">
                        <div>
                            <div class="agg">
                                <img src="@/assets/entrenadores/DT julian_nagelsmann.jpg" class="logo" alt="">
                            </div>
                            <div class="div-ediccion" style="">
                                <div class="tooltip-container">
                                    <div class="tooltip-trigger" style="margin-left: 25px">
                                        <button class="btn-ediccion" @click="goToEditar()">
                                        <i class="icon-editar icon-ediccion"></i>
                                        </button>
                                    </div>
                                    <div class="tooltip-one" style="left: 15px;">Editar</div>
                                </div>
                                <div class="tooltip-container">
                                    <div class="tooltip-trigger" style="margin-right: 25px">
                                        <button class="btn-ediccion" @click="GotoDelete()">
                                        <i class="icon-eliminar icon-ediccion"></i>
                                        </button>
                                    </div>
                                    <div class="tooltip-one">Eliminar</div>
                                </div>
                            </div>
                        
                        </div>
                        <div class="div-inputs" >
                            <validation-provider rules="required|alpha" v-slot="{ errors }" style="">
                                <div class="div-inputs" >
                                    
                                    <label class="lbl">Nombres</label>
                                    <input type="text" class="inps" placeholder="Nombres" v-model="admins.nombres">
                                    <label class="lbl-validation">{{ errors[0] }}</label>
                                    
                                </div>
                            </validation-provider>
                            <validation-provider rules="required|alpha" v-slot="{ errors }" style="">
                                <div class="div-inputs" >
                                    
                                    <label class="lbl">Apellidos</label>
                                    <input type="text" class="inps" placeholder="Apellidos" v-model="admins.apellidos">
                                    <label class="lbl-validation">{{ errors[0] }}</label>
                                    
                                </div>
                            </validation-provider>

                            <validation-provider rules="required|email" v-slot="{ errors }" style="">
                                <div class="div-inputs" >
                                    
                                    <label class="lbl">Correo electrónico</label>
                                    <input type="text" class="inps" placeholder="Correo electrónico" v-model="admins.email">
                                    <label class="lbl-validation">{{ errors[0] }}</label>
    
                                </div>
                            </validation-provider>
                            <validation-provider rules="required" vid="confirmation" v-slot="{ errors }" style="">
                                <div class="div-inputs" >
                                    
                                    <label class="lbl">Contraseña</label>
                                <input type="password" class="inps" placeholder="Contraseña" v-model="admins.password" disabled/>
                                    <label class="lbl-validation">{{ errors[0] }}</label>
    
                                </div>
                            </validation-provider>
                        </div>
                        <div class=" div-inputs">
                            <validation-provider rules="required|alpha|max:200" v-slot="{ errors }">
                                <div class="div-inputs" >
                                    
                                    <label class="lbl" for="">Acerca del administador</label>
                                    <textarea class="inp-info" placeholder="Acerca" v-model="admins.acerca"/>  
                                    <label class="lbl-validation">{{ errors[0] }}</label>
    
                                </div>
                            </validation-provider>
                            <validation-provider rules="required|numeric" v-slot="{ errors }" style="">
                                <div class="div-inputs" >
                                    
                                    <label class="lbl">Teléfono celular</label>
                                    <input type="text" class="inps" placeholder="Teléfono celular" v-model="admins.telefono"/> 
                                    <label class="lbl-validation">{{ errors[0] }}</label>
    
                                </div>
                            </validation-provider>
                            <validation-provider rules="required|confirmed:confirmation"  v-slot="{ errors }" style="">
                                <div class="div-inputs" >
                                    
                                   <label class="lbl">Repetir contraseña</label>
                                <input type="password" class="inps" placeholder="Repetir contraseña" v-model="repetirPassword" disabled>
                                    <label class="lbl-validation">{{ errors[0] }}</label>
    
                                </div>
                            </validation-provider>
                        </div>
                    </div>
                </div>
            </validation-observer>
            </div>    
        </div>
    </template>
    <editarImagen
      :class="editarImagen ? 'mostrar-modal' : ''"
      @cerrarModal="cerrarModal"
    />
</div>
    
</template>

<script>
import editarImagen from '@/components/modales/editarImagen.vue'
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/admin/";
export default {
    name:'CrearAdmin',
    components:{
        editarImagen
    },
    computed: {
    NombreVista() {
        return this.$route.name;
    },
    idAdmin() {
      return this.$route.params.id;}
    },
    created: function () {
    this.listarAdminUno();
    },
    data() {
        return {
        editarImagen: false,
        id: "",
        nombres: "",
        apellidos: "",
        imagen: "",
        acerca: "",
        email: "",
        telefono: "",
        repetirPassword:"",
        admin: 0,
        admins: []
        };
    },
    methods: {
        cerrarModal() {
             this.editarImagen = !this.editarImagen;
        },
        goToEditar(){
            this.editarImagen = !this.editarImagen;
        },
        async listarAdminUno() {
            const { data } = await axios.get(
                ENDPOINT_PATH + "listar_admins_uno/" + this.idAdmin
            );
            this.admins = data.admins;
            console.log(this.admins);
        },
        async editarAdmin(){
            let payload = {
                nombres: this.admins.nombres,
                apellidos: this.admins.apellidos,
                acerca: this.admins.acerca,
                email: this.admins.email,
                telefono: this.admins.telefono,
            }
            try{
                console.log(payload);
                const { data } = await axios.put(ENDPOINT_PATH + "update-admin/" +this.idAdmin, payload, {
                            headers:{
                                "content-Type":"application/json"
                            }
                        });
                        console.log(data);
                        console.log(this.admins);

            }
            catch(error){
                console.log(error);
            }
        }   

    }
}
</script>

<style scoped>
.mostrar-modal {
  z-index: 4;
  display: grid !important;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.contenedor{
    margin-left: 180px;
}
.div-inputs{
    padding-left: 15px;
    padding-bottom: 15px;
}
.titulo{
    font: normal normal bold 50px/60px sans-serif; 
}
.agg{
   
    width: 160px;
    height: 160px; 
    background: #DFE4E8 0% 0% no-repeat padding-box;
    border-radius: 100%;
}
.inps{
    margin-right: 25px;
    
}
.inp-info{
    height: 171px;
    border: #DFE4E8 0.5px solid;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}
.lbl{

    font: normal 16px/28px sans-serif;
}
.div-ediccion{
    justify-content: space-between;
    position: relative;
    bottom: 70px;
}
.btn-ediccion{
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
}
.icon-eliminar{
    color: #ffffff;
    
}
.icon-editar{
    color: #ffffff;
}
.logo{
    left: 204px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
}
</style>