<template>
  <div>
    <template>
      <div>
        <sidebar />
        <div class="contenedor">
          <navbar />
          <validation-observer v-slot="{ handleSubmit }">
            <form @submit.prevent="handleSubmit(AddEquipo)">
            <div class="row" >
              
              <div class="col-md-6" style="padding-left: 0; padding-right: 0">
                <h3 class="titulo">{{ NombreVista }}</h3>
              </div>
              <div class="col-md-6" style="padding-left: 0; padding-right: 0" >
                <button
                  class="btn-principal text-btn"
                  type="submit"
         
                >
                  Guardar
                </button>
              </div>
            </div>
            <div style="padding-top: 30px; padding-bottom: 30px">
              <div>
                <h3 class="titulo">Información general</h3>
              </div>
              <div class="row" style="padding-top: 30px">
                <div class="agg"></div>
                <div class="div-inputs">
                  <validation-provider
                    rules="required|alpha"
                    v-slot="{ errors }"
                    style=""
                  >
                    <div class="div-inputs">
                      <label class="lbl">Nombre del equipo</label>
                      <input
                        type="text"
                        class="inps"
                        placeholder="Nombre"
                        v-model="nombre"
                      />
                      <label class="lbl-validation">{{ errors[0] }}</label>
                    </div>
                  </validation-provider>
                  <validation-provider
                    rules="required|alpha"
                    v-slot="{ errors }"
                    style=""
                  >
                    <div class="div-inputs">
                      <label class="lbl">Acerca del equipo</label>
                      <textarea
                        class="inp-info"
                        placeholder="Acerca"
                        v-model="acerca"
                      />
                      <label class="lbl-validation">{{ errors[0] }}</label>
                    </div>
                  </validation-provider>
                </div>
                <div class="div-inputs">
                  <ValidationProvider rules="excluded:0" v-slot="{ errors }">
                    <div class="div-inputs">
                      <label class="lbl">Pais</label>
                      <select
                        type="text"
                        class="inps"
                        v-model="pais"
                        @change="listarCiudades()"
                      >
                        <option disabled selected value="0">
                          Seleccionar Pais
                        </option>
                        <option
                          v-for="nombrePais in paises"
                          :key="nombrePais.id"
                          :value="nombrePais.id"
                        >
                          {{ nombrePais.nombre }}
                        </option>
                      </select>
                      <span class="lbl-validation">{{ errors[0] }}</span>
                    </div>
                  </ValidationProvider>

                  <ValidationProvider rules="excluded:0" v-slot="{ errors }">
                    <div class="div-inputs">
                      <label class="lbl">Ciudad</label>
                      <select type="text" class="inps" v-model="ciudad">
                        <option disabled selected value="0">
                          Seleccionar Ciudad
                        </option>
                        <option
                          v-for="nombreCiudad in ciudades"
                          :key="nombreCiudad.id"
                          :value="nombreCiudad.id"
                        >
                          {{ nombreCiudad.nombre }}
                        </option>
                      </select>
                      <span class="lbl-validation">{{ errors[0] }}</span>
                    </div>
                  </ValidationProvider>
                  <ValidationProvider rules="excluded:0" v-slot="{ errors }">
                    <div class="div-inputs">
                      <label class="lbl">Deporte afin</label>
                      <select type="text" class="inps" v-model="deporte">
                        <option disabled selected value="0">
                          Seleccionar Deporte
                        </option>
                        <option
                          v-for="nombreDeporte in deportes"
                          :key="nombreDeporte.id"
                          :value="nombreDeporte.id"
                        >
                          {{ nombreDeporte.nombre }}
                        </option>
                      </select>
                      <span class="lbl-validation">{{ errors[0] }}</span>
                    </div>
                  </ValidationProvider>
                </div>
              </div>
            </div>
            <div>
              <div>
                <h3 class="titulo">Información del entrenador</h3>
              </div>
              <div class="row" style="padding-bottom: 30px">
                <div class="agg"></div>
                <div class="div-inputs">
                  <validation-provider
                    rules="required|alpha"
                    v-slot="{ errors }"
                    style=""
                  >
                    <div class="div-inputs">
                      <label class="lbl">Nombre</label>
                      <input
                        type="text"
                        class="inps"
                        placeholder="Nombre"
                        v-model="nombre_entrenador"
                      />
                      <span class="lbl-validation">{{ errors[0] }}</span>
                    </div>
                  </validation-provider>
                  <validation-provider
                    rules="required|alpha"
                    v-slot="{ errors }"
                    style=""
                  >
                    <div class="div-inputs">
                      <label class="lbl">Apellido</label>
                      <input
                        type="text"
                        class="inps"
                        placeholder="Apellido"
                        v-model="apellido_entrenador"
                      />
                      <span class="lbl-validation">{{ errors[0] }}</span>
                    </div>
                  </validation-provider>
                </div>
              </div>
            </div>
            </form>
          </validation-observer>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/equipo/";
export default {
  name: "CrearEquipo",
  created: function () {
    this.listarPaises();
    this.listarDeporte();
    console.log(this.errors);
  },
  components: {},
  data() {
    return {
      nombre: "",
      promedio: "",
      imagen: "",
      acerca: "",
      ciudad_id: "",
      deporte_id: "",
      pais: 0,
      paises: [],
      ciudad: 0,
      ciudades: [],
      deporte: 0,
      deportes: [],
      nombre_entrenador: "",
      apellido_entrenador: "",
      equipos: [],
    };
  },
  computed: {
    NombreVista() {
      return this.$route.name;
    },
  },
  methods: {
    async listarPaises() {
      const { data } = await axios.get(ENDPOINT_PATH + "listar_paises");
      this.paises = data.paises;
      console.log("paises", this.paises);
    },

    async listarCiudades() {
      try {
        const { data } = await axios.get(
          ENDPOINT_PATH + "listar_ciudades/" + this.pais
        );
        this.ciudades = data.ciudades;
        console.log("ciudades", this.ciudades);
      } catch (error) {
        console.log(error);
      }
    },

    async listarDeporte() {
      const { data } = await axios.get(ENDPOINT_PATH + "listar_deportes");
      this.deportes = data.deportes;
      console.log("Deportes", this.deportes);
    },

    async AddEquipo() {
      let payload = {
        nombre: this.nombre,
        promedio: this.promedio,
        imagen: this.imagen,
        acerca: this.acerca,
        ciudad_id: this.ciudad,
        deporte_id: this.deporte,
        nombreEntrenador: this.nombre_entrenador,
        apellidoEntrenador: this.apellido_entrenador,
      };
      try {
        const { data } = await axios.post(
          ENDPOINT_PATH + "crear_equipo",
          payload,
          {
            headers: {
              "content-Type": "application/json",
            },
          }
        );
        this.equipos = data;
        console.log(data);
        this.$router.push({ name: "Equipos CX" });
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>

<style scoped>
.row {
  margin-left: 0;
  margin-right: 0;
}
.contenedor {
  margin-left: 180px;
}
.div-inputs {
  padding-left: 15px;
}
.titulo {
  font: normal normal bold 28px/35px sans-serif;
}
.agg {
  width: 160px;
  height: 160px;
  background: #dfe4e8 0% 0% no-repeat padding-box;
}
.inps {
  margin-right: 25px;
}
.inp-info {
  height: 171px;
  border: #dfe4e8 0.5px solid;
  border-radius: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 25px;
}
</style>