<template>
<div>
    <template>
        <div >
            <sidebar/>
            <div class="contenedor">
                <navbar/>
                <div class="row ">
                    <div class="col-md-6" style="padding-left:0; padding-right:0;">
                        <h3 class="titulo">{{NombreVista}}</h3>
                    </div>
                    <div class="col-md-6" style="padding-left:0; padding-right:0;">
                        <button class="btn-principal text-btn" type="submit" @click="editarEquipo, GoToEquipoInfo">Guardar</button>
                    </div>
                </div>
                <div style="padding-top: 30px; padding-bottom: 20px;">
                    <div>
                        <h3 class="titulo">Información general</h3>
                    </div>
                    <div class="row">
                        <div class="agg">
                        </div>
                        <div class="div-inputs">
                            <div class="div-inputs">
                                <label class="lbl">Nombre del equipo</label>
                                <input type="text" class="inps" placeholder="Nombre" v-model="equipos.nombre"/>
                            </div>
                            <div class=" div-inputs">
                                <label class="lbl">Acerca del equipo</label>
                                <textarea class="inp-info" placeholder="Acerca" v-model="equipos.acerca"/>
                            </div>
                        </div>
                        <div class=" div-inputs">
                            <div class="div-inputs">
                                <label class="lbl">Pais</label>
                                <select type="text" class="inps" v-model="equipos.pais_id" @change="listarCiudades(equipos.pais_id)">
                                    <option disabled selected  value="0">Seleccionar pais</option>
                                    <option v-for="nombrePais in paises" :key="nombrePais.id" :value="nombrePais.id"> {{nombrePais.nombre}}</option>
                                </select>
                            </div>
                            <div class="div-inputs">
                                <label class="lbl">Ciudad</label>
                                <select type="text" class="inps" v-model="equipos.ciudad_id">
                                    <option disabled selected value="0">Seleccionar Ciudad</option>
                                    <option v-for="nombreCiudad in ciudades" :key="nombreCiudad.id" :value="nombreCiudad.id">{{nombreCiudad.nombre}}</option>
                                </select>
                            </div>
                            <div class="div-inputs">
                                <label class="lbl">Deporte afin</label>
                                <select type="text" class="inps" v-model="equipos.deporte_id">
                                    <option disabled selected value="0">Seleccionar Deporte</option>
                                    <option v-for="nombreDeporte in deportes" :key="nombreDeporte.id" :value="nombreDeporte.id">{{nombreDeporte.nombre}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <h3 class="titulo">Información del entrenador</h3>
                    </div>
                    <div class="row">
                        <div class="agg">
                        </div>
                        <div class="div-inputs">
                            <div class="div-inputs">
                                <label class="lbl">Nombre</label>
                                <input type="text" class="inps" placeholder="Nombre" v-model="equipos.nomEntrenador">
                            </div>
                            <div class=" div-inputs">
                                <label class="lbl">Apellido</label>
                                <input type="text" class="inps" placeholder="Apellido" v-model="equipos.apellEntrenador">
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </template>
</div>
    
</template>

<script>
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/equipo/";
export default {
    name:'CrearEquipo',
    computed: {
    NombreVista() {
        return this.$route.name;
        },
        idEquipo() {
        return this.$route.params.id;
        },
        idCiudad(){
            return this.$route.params.id
        }
    },
    created: function () {
        this.listarEquipoUno();
        this.listarPaises();
        this.listarDeporte();
    
    },
    
    data(){
        return{
            eliminarEquipo: false,
            addJugador: false,
            equipo:0,
            equipos:[],
            personas:[],
            paises:[],
            ciudades:[],
            deportes:[],
            pais:0,
        }

    },
    methods:{
        GoToEquipoInfo(){
        this.$router.push({name:'Equipos info', params:{id:this.equipos.id}})
      },
       
        async listarEquipoUno() {
        const { data } = await axios.get(
            ENDPOINT_PATH + "listar-equipo-uno/" + this.idEquipo);
            this.equipos = data.equipos;
            this.listarCiudades(this.equipos.pais_id);
        },
        async listarPaises(){
          const{ data }= await axios.get(ENDPOINT_PATH + 'listar_paises');
          this.paises=data.paises;
        },
        async listarCiudades(idPais){
            console.log(idPais);
          try {
              const{ data }= await axios.get(ENDPOINT_PATH + 'listar_ciudades/'+ idPais);
              this.ciudades=data.ciudades;
              
          } catch (error) {
              console.log(error);
          }
        },

        async listarDeporte(){
            const{ data }= await axios.get(ENDPOINT_PATH + 'listar_deportes');
            this.deportes=data.deportes;
        },
        async editarEquipo(){
            let payload = {
                nombre: this.equipos.nombre,
                acerca: this.equipos.acerca,
                ciudad_id: this.equipos.ciudad_id,
                deporte_id: this.equipos.deporte_id,
                idPersona: this.equipos.idPersona,
                nombres: this.equipos.nomEntrenador,
                apellidos: this.equipos.apellEntrenador

            }
            try{
                console.log(payload);
                const { data } = await axios.put(ENDPOINT_PATH + "update-equipo/" +this.idEquipo, payload, {
                            headers:{
                                "content-Type":"application/json"
                            }
                        });
                        console.log(data);
                        console.log(this.equipos);

            }
            catch(error){
                console.log(error);
            }
        } 
    }
    
}
</script>

<style scoped>
.row{
    margin-left: 0;
    margin-right: 0;
}
.contenedor{
    margin-left: 180px;
}
.div-inputs{
    padding-left: 15px;
}
.titulo{
    font: normal normal bold 28px/35px sans-serif; 
    margin-bottom: 0;
}
.agg{
   
    width: 160px;
    height: 160px; 
    background: #DFE4E8 0% 0% no-repeat padding-box;
}
.inps{
    margin-right: 25px;
}
.inp-info{
    height: 171px;
    border: #DFE4E8 0.5px solid;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}
</style>