<template>
    <div>
        <template >
            <div>
                <sidebar/>
                <div class="contenedor">
                    <navbar/>
                    <div class="row" style="margin:auto">
                        <div class="col-5">
                            <div style="display:flex; align-items: center; justify-content: space-between;">
                                <div style="">
                                  <h3 class="titulo">{{equipos.nombre}}</h3>  
                                </div>
                                
                                <div class="div-ediccion" style="padding-left: 50px">
                                    <div class="tooltip-container">
                                        <div class="tooltip-trigger">
                                            <button class="btn-ediccion" @click="GoToEdit()">
                                            <i class="icon-editar icon-ediccion "></i>
                                            </button>
                                        </div>
                                        <div class="tooltip-one">
                                         Editar
                                        </div>
                                    </div>
                                    <div class="tooltip-container">
                                        <div class="tooltip-trigger">
                                            <button class="btn-ediccion" @click="GotoDelete()">
                                        <i class="icon-eliminar icon-ediccion"></i>
                                        </button>
                                        </div>
                                        <div class="tooltip-one">
                                         Eliminar
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                                <div class="d-flex" style="padding-top: 25px; align-items: center;">
                                    <div class="div-deporte">
                                        <i class="icon-futbol"></i>
                                    </div> 
                                    <div style="padding: 20px">
                                        <label class="lbl">Equipo de {{equipos.nomDepo}}</label>
                                    </div>
                                    <div>
                                        <i class="icon-estrella-llena"></i>
                                        <label class="lbl">{{equipos.promedio}}</label>
                                    </div>
                                </div>
                                <div class="d-flex" style="margin-top: 20px;">
                                    <label class="lbl">{{equipos.nomCiudad}}, {{equipos.nomPais}}</label>
                                </div>
                                <div class="d-flex" style="padding-top: 60px;">
                                    <div>
                                        <img src="@/assets/equipos/FCBayernMunchen.png" class="logo" alt="">
                                    </div>
                                    <div class="" style="margin-left: 60px;">
                                        <div >
                                            <img src="@/assets/entrenadores/DT julian_nagelsmann.jpg" class="img-entrenador" alt="">
                                        </div>
                                        <div>
                                             <label class="lbl-jugador">{{equipos.nomEntrenador+" "+equipos.apellEntrenador}}</label>
                                        </div>
                                        <div>
                                            <label class="lbl-posicion">Entrenador</label>
                                        </div>
                                    </div>
                                </div>
                                <div  class="div-acerca">
                                    <div>
                                        <label class="titulo">Acerca</label>
                                    </div>
                                    <div>
                                        <p class="info">
                                            {{equipos.acerca}}
                                        </p>   
                                    </div>

                                </div>
                                
                        </div>
                        <div class="col">
                            <div style="display:flex; align-items: center;">
                                <h3 class="titulo">Jugadores del equipo</h3>
                                <div class="div-ediccion">
                                    <div class="tooltip-container">
                                        <div class="tooltip-trigger">
                                            <button class="btn-ediccion" @click="GoToAddJugador()">
                                        <i class="icon-añadir icon-ediccion "></i>
                                        </button>
                                        </div>
                                        <div class="tooltip-one">
                                         Añadir
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4" style="padding-top: 40px; padding-bottom: 40px; padding-right:30px;">
                                        <div >
                                            <img src="@/assets/jugadores/robert lewandowski.png" class="img-entrenador" alt="">
                                        </div>
                                        <div>
                                             <label class="lbl-jugador">Robert Lewandowski</label>
                                        </div>
                                        <div>
                                            <label class="lbl-posicion">Delantero</label>
                                        </div>
                                        <div style="display: inline-flex;">
                                            <i class="icon-estrella-llena"></i>
                                            <i class="icon-estrella-llena"></i>
                                            <i class="icon-estrella-llena"></i>
                                            <i class="icon-estrella-llena"></i>
                                            <i class="icon-estrella-llena"></i>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template> 
        <eliminarEquipo :class="eliminarEquipo ? 'mostrar-modal':''" @cerrarModal="cerrarModal" :equipoDelete="equipoDelete"/>    
        <addJugador :class="addJugador ? 'mostrar-modal-add':''" @cerrarModalAdd="cerrarModalAdd"/>
    </div>
</template>

<script>
import eliminarEquipo from '@/components/modales/eliminarEquipo.vue'
import addJugador from '@/components/modales/addJugador.vue'
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/equipo/";
export default {
    name:'EquiposInfo',
    components:{
        eliminarEquipo,
        addJugador
    },
    created: function () {
        this.listarEquipoUno();
        
    
    },
    data(){
        return{
            eliminarEquipo: false,
            addJugador: false,
            equipos:[],
            equipoDelete: 0
            

        }

    },
    computed: {
        idEquipo() {
        return this.$route.params.id;
        },
    },
    
    methods:{
       
        async listarEquipoUno() {
            const { data } = await axios.get(
                ENDPOINT_PATH + "listar-equipo-uno/" + this.idEquipo);
                this.equipos = data.equipos;
                console.log(this.equipos);
        },
        

        GoToEdit(){
        this.$router.push({name:'Editar equipo'})
         },
      GotoDelete(){
       this.eliminarEquipo=!this.eliminarEquipo;
       this.equipoDelete= this.idEquipo;
        },
      cerrarModal(){
       this.eliminarEquipo=!this.eliminarEquipo;
         },
      GoToAddJugador(){
        this.addJugador=!this.addJugador;
        },
      cerrarModalAdd(){
       this.addJugador=!this.addJugador;
      }
    }
}
</script>

<style scoped>
.mostrar-modal{
    z-index: 4;
    display: grid !important;
}
.mostrar-modal-add{
    z-index: 4;
    display: grid !important;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.col{
    padding: 0;
}
.tarjetas{
  padding-top: 40px;
}
.contenedor{
    margin-left: 180px;
    z-index: 2;
}
.titulo{
    font: normal normal bold 45px/50px sans-serif; 
    margin:0;
}
.icon-estrella-llena{
    color: orange;
    font-size: 27px;
}
.icon-futbol{
    font-size: 25px;
    color: white;
}
.agg{
    width: 160px;
    height: 160px; 
    background: #DFE4E8 0% 0% no-repeat padding-box;
}
.div-ediccion{
    display: flex;
    padding-left: 25px;
}
.div-deporte{
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #637381;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.btn-ediccion{
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #FFD4DF;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 7px;
    
}
.btn-ediccion:hover{
    background-color: #FF1E5B;
    box-shadow: 1px 5px 5px rgb(92, 90, 90);
}
.icon-ediccion{
    font-size: 26px;
}
.icon-ediccion:hover{
 color: white;
}
.logo{
    height: 235px;
}
.img-entrenador{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: rgb(196, 191, 190) 1px solid;
    background-color: honeydew;
}
.lbl{
    font: normal 20px/20px sans-serif;
}
.div-acerca{
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.info{
    font: normal 16px/19px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    text-align: justify;
    padding-top: 15px;
    padding-right: 25px;
}
</style>