<template>
    <div >
        <template>
            <div >
                <div class="row nav-contenido " >
                    <div class="col-md-6" style="padding-left:0">
                        <h3 class="titulo">{{NombreVista}}</h3>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="contenedor-icon">
                                <i class="icon-buscar icono-buscar"></i>
                                <input class="inp-buscar" type="text"  placeholder="Search" v-model="textoBuscar"> 
                                
                                <button class="btn-cerrar" type="submit" @click="limpiarInput()"><i class="icon-cerrar" /></button>
                            </div>
                            <div class="div-boton" >
                            <button class="btn-principal text-btn" type="submit" @click="GoToAddEquipo()">Crear equipo</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <equiposList v-for="(objEquipo, index) in items" 
                        :key="index"
                        :id="objEquipo.id"
                        :nombre="objEquipo.nombre"
                        :imagen="objEquipo.imagen"
                        :personasCount="objEquipo.personas_count"
                        :textoBuscar="textoBuscar"
                        />  
                </div>
            </div>   
        </template>
    </div>
</template>


<script>
import equiposList from '@/components/tarjetaEquipos/equiposList.vue'
import axios from "axios";
const ENDPOINT_PATH = "http://127.0.0.1:8000/api/equipo/";
export default {
    name:'Equipos',
    data(){
        return{
            textoBuscar:'',
            equipo: 0,
            equipos:[],
        }
    },
    components:{
        equiposList
    },
    created:function(){
        this.listarEquipos();
    },
    
    methods:{
      GoToAddEquipo(){
        this.$router.push({name:'crear equipo'})
      },
      GoToEquipoInfo(){
        this.$router.push({name:'Equipos info'})
      },
      limpiarInput(){
          this.textoBuscar= ''
      },
      async listarEquipos(){
          const{data}= await axios.get(ENDPOINT_PATH+'listar-equipos');
          this.equipos=data.equipos;
          console.log(this.equipos);
      }
    },
    computed: {
     NombreVista() {
        return this.$route.name;
    },
    items() {
            return this.equipos;
           
        }
}
}
</script>


<style scoped>
.position{
    position: relative; 
    z-index: -1;
}
.icon-cerrar{
    font-size: 10px;
}
.nav-contenido{
    padding-top: 30px;
}
.inp-buscar{
    top: 172px;
    left: 712px;
    width: 230px;
    height: 40px;
    border: 1px solid var(--gris-claro-borde);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 20px;
    padding: 0.25em 0.6em;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}
.btn-cerrar{
    right: 65px;
    width: 30px;
    height: 30px;
    top: 5px;
}


.row{
    margin-left: 0;
    margin-right: 0;
}
.tarjetas{
  padding-top: 40px;
}
.logo{
    top: 280px;
    left: 204px;
    width: 160px;
    height: 160px;
}
.titulo-tarjeta{
    padding-top: 20px;
    text-align: center;
    font: normal  bold 25px/31px sans-serif ;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.div-btn{
    display: inline-flex;
    align-items: center;
}
.icon-deporte-fondo{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background: #637381 0% 0% no-repeat padding-box;
    border: none;
}
.icono-buscar{
    position: relative;
    left: 28px;
    top: 9px;
}
.icon-deporte{
    font-size: 27px;
    color: white;
}
.icon-espectadores-fondo{
   
    height: 40px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 19px;
    border: none;
    display: flex;
}
.icon-espectadores{
    font-size: 25px;
    color: #FFFFFF;
}
.num-espectadores{
    text-align: end;
    font: normal  16px/19px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 9px;
    margin-left: 2px;
}

.contenedor-icon{
    display: flex;
    justify-content: center;
}
.div-boton{

}
@media (max-width: 1174px) {
  .div-boton{
      margin-left: 55px;
       padding-top: 10px;
  }
}
</style>