<template>
  <div class="col-md-4 tarjetas" v-show="showCard">
    <img src="@/assets/equipos/FCBayernMunchen.png" class="logo" alt="" />
    <p class="titulo-tarjeta">{{nombre}}</p>
    <div style="display: inline-flex">
      <div class="div-btn" style="margin: 5px">
        <button class="icon-deporte-fondo" @click="GoToEquipoInfo()">
          <i class="icon-futbol icon-deporte" />
        </button>
      </div>
      <div class="div-btn" style="margin: 5px">
        <button class="icon-espectadores-fondo" @click="GoToEquipoInfo()">
          <i class="icon-espectadores icon-espectadores" />
          <p class="num-espectadores">{{personasCount}}</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name:'equiposList',
    props: {
            id: {
                type: Number,
                default: 0
            },
            nombre: {
                type: String,
                default: 'no existe el equipo'
            },
            imagen:{
                type: String,
                default: 'sin imagen'
            },
            personasCount: {
                type: Number,
                default: 0
            },
            equipos: {
                type: Object,
                default () {
                    return {
                        "id": 0,
                        "nombre": "",
                        "imagen": "",
                        "equipos_count": 0,
                        "created_by": null,
                        "updated_by": null,
                        "created_at": "",
                        "updated_at": "",
                        "deleted_at": null,
                        "equipos": [],

                    }
                }
            },
            textoBuscar: {
                type: String,
                default: ''
            }

        },
        computed: {
            nombreEquipo(){
                return `${this.nombre}`;
            },
            showCard () {
                return  this.nombreEquipo.toLowerCase().indexOf(this.textoBuscar.toLowerCase()) > -1
            }
        },
    methods:{
        GoToEquipoInfo(){
        this.$router.push({name:'Equipos info', params:{id:this.id}})
      }
    }
}
</script>

<style scoped>
.position{
    position: relative; 
    z-index: -1;
}
.icon-cerrar{
    font-size: 10px;
}
.nav-contenido{
    padding-top: 30px;
}
.inp-buscar{
    top: 172px;
    left: 712px;
    width: 230px;
    height: 40px;
    border: 1px solid var(--gris-claro-borde);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 20px;
    padding: 0.25em 0.6em;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}
.btn-cerrar{
    right: 65px;
    width: 30px;
    height: 30px;
    top: 5px;
}


.row{
    margin-left: 0;
    margin-right: 0;
}
.tarjetas{
  padding-top: 40px;
}
.logo{
    top: 280px;
    left: 204px;
    width: 160px;
    height: 160px;
}
.titulo-tarjeta{
    padding-top: 20px;
    text-align: center;
    font: normal  bold 25px/31px sans-serif ;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.div-btn{
    display: inline-flex;
    align-items: center;
}
.icon-deporte-fondo{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background: #637381 0% 0% no-repeat padding-box;
    border: none;
}
.icono-buscar{
    position: relative;
    left: 28px;
    top: 9px;
}
.icon-deporte{
    font-size: 27px;
    color: white;
}
.icon-espectadores-fondo{
   
    height: 40px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 19px;
    border: none;
    display: flex;
}
.icon-espectadores{
    font-size: 25px;
    color: #FFFFFF;
}
.num-espectadores{
    text-align: end;
    font: normal  16px/19px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 9px;
    margin-left: 2px;
}

.contenedor-icon{
    display: flex;
    justify-content: center;
}
</style>