<template>
  <div>
    <div class="" id="posicion" style="">
      <div
        class="d-flex"
        style="align-items: center; padding-top: 20px; margin-left: 65px"
      >
      
        <div class="" style="display: grid">
          <!-- <validation-provider rules="required|email" v-slot="{ errors }">
            <input v-model="value" name="myinput" type="text" />
            <span>{{ errors[0] }}</span>
            </validation-provider>-->
          <label class="lbl">Posición del jugador</label>
          <input
            type="text"
            class="inps"
            placeholder="Posición"
            id="posicion_input"
            v-model="nombre_posicion"
          />  
          <label id="errorPosicion" class="lbl" style="display: none">Debe poner una posicion</label>
        </div>
        <div style="margin-top: 10px">
          <button class="btn-principal text-btn" @click="AddPosicion(), limpiarInput()">
            Añadir posición
          </button>
        </div>
      </div>
      <rowPosiciones 
        v-for="posicion in posiciones.posiciones"
        :key="posicion.id"
        :id="posicion.id"
        :Nombreposicion="posicion.nombre"
        :jugadoresCount="posicion.cantidadJugadores"
        :posicion="posicion"
        @updatePosicion="updatePosicion(posicion)"
        @habilitarEdit="habilitarEdit(posicion)"
        @GotoDeleteP="GotoDeleteP(posicion)"
        />
    </div>
   <eliminarPosicion
      :class="eliminarPosicion ? 'mostrar-modal-p' : ''"
      @cerrarModal="cerrarModal" :posicionDelete="posicionDelete"
      @listarDeporte="listarDeporte"
    />
    <eliminarPosicionDos
      :class="eliminarPosicionDos ? 'mostrar-modal-p' : ''"
      @cerrarModal="cerrarModalPDos" :posicionDelete="posicionDelete"
    />
  </div>
</template>

<script>
import eliminarPosicion from "@/components/modales/eliminarPosicion.vue";
import eliminarPosicionDos from "@/components/modales/eliminarPoscionDos.vue"
import rowPosiciones from './rowPosiciones.vue'
import axios from "axios";

const ENDPOINT_PATH = "http://127.0.0.1:8000/api/posicion/";
export default {
  name:'collapseDeporte',
  data() {
    return {
      eliminarPosicionDos: false,
      eliminarPosicion:false,
     nombre_posicion: "",
      posicionDelete: 0,
      posicion: 0
    };
  },
  props: {
     posiciones: {
       type: Object,
       default: null,
    },
    idDeporte: Number,
  },
  components: {
    eliminarPosicion,
    eliminarPosicionDos,
    rowPosiciones
  },
  methods: {
    cerrarCollapse() {
      this.$emit("cerrarCollapse");
      console.log('cerrado desde el collapse');
      console.log(this.idDeporte, this.posiciones.posiciones,'listar posiciones');
    },
    cerrarModal() {
      this.eliminarPosicion = !this.eliminarPosicion;
      console.log('cerrado desde el log collapse');
    },

    GotoDeleteP(posicion) {
      try {
           
            if (posicion.cantidadJugadores==0) {
                this.eliminarPosicion = !this.eliminarPosicion;
                this.posicionDelete=posicion.id;
                console.log(this.posicionDelete);
                console.log("desde el if collapse");
                console.log(this.posiciones.posiciones,'posiciones desde el if collapse');
      
                
            } 
            else {
              this.eliminarPosicionDos = !this.eliminarPosicionDos;
                this.posicionDelete=posicion.id;
                console.log(this.posicionDelete);
                console.log("desde el else collapse");
                console.log(this.posiciones.posiciones,'posiciones desde el else collapse');
            }
      } catch (error) {
         console.log(error);
      }
      
    },
    cerrarModalP() {
     this.eliminarPosicion = !this.eliminarPosicion;
            console.log('cerrado desde el log collapse');
    },
    cerrarModalPDos() {
      this.eliminarPosicionDos = !this.eliminarPosicionDos;
        console.log('cerrado desde el log collapse');
    },
    limpiarInput(){
          this.nombre_posicion= ''
    },
    async AddPosicion() {
       
      let payload = {
        nombrePosicion: this.nombre_posicion,
        idDeporte: this.idDeporte,
      };
      console.log(payload);
      try {
        if(this.nombre_posicion !==""){
              const { data } = await axios.post(
              ENDPOINT_PATH + "crear_posicion",
              payload,
              {
                headers: {
                  "content-Type": "application/json",
                },
              }
            );
            this.posicion = data;
            console.log(data.success);
            console.log(data, 'data');
       
          if(data.success==true){
            this.$emit("listarDeporte");
            console.log('listado desde el collapse');
            document.getElementById("errorPosicion").style.display = "none";
           
            
          }
        }
        else{
          document.getElementById("errorPosicion").style.display = "flex";
        }
        

      } catch (error) {
        console.log(error);
      }
    },
    async updatePosicion(posicion) {
      let id_edit = `editPosicion${posicion.id}`;
      let id_guardar = `guardarPosicion${posicion.id}`;
      let id_delete = `deletePosicion${posicion.id}`;
      let id_input = `inPosicion${posicion.id}`;
      let id_jugador = `jugadoresPosicion${posicion.id}`;
      let payload = {
         nombre: posicion.nombre
       }
      try {
       
         console.log(payload);
         const { data } = await axios.put(ENDPOINT_PATH + "update-posicion/" + posicion.id, payload, {
                    headers:{
                        "content-Type":"application/json"
                    }
                });
                console.log(data);


        console.log(document.getElementById(id_guardar).style.display);
        document.getElementById(id_input).disabled = true;
        document.getElementById(id_guardar).style.display = "none";
        document.getElementById(id_edit).style.display = "flex";
        document.getElementById(id_delete).style.display = "flex";
        document.getElementById(id_jugador).style.display = "flex";
      } catch (error) {
        return error;
      }
    },
    habilitarEdit(posicion) {
      let id_edit = `editPosicion${posicion.id}`;
      let id_guardar = `guardarPosicion${posicion.id}`;
      let id_delete = `deletePosicion${posicion.id}`;
      let id_input = `inPosicion${posicion.id}`;
      let id_jugador = `jugadoresPosicion${posicion.id}`;
      try {
        document.getElementById(id_input).disabled = false;
        document.getElementById(id_guardar).style.display = "block";
        document.getElementById(id_edit).style.display = "none";
        document.getElementById(id_delete).style.display = "none";
        document.getElementById(id_jugador).style.display = "none";
      } catch (error) {
        return error;
      }
    },
    listarDeporte(){
      this.$emit("listarDeporte");
    }
    
  },
};
</script>

<style scoped>
.inps {
  margin-right: 25px;
  width: 280px;
}

.lbl {
  margin-left: 10px;
}
.mostrar-modal-p {
  z-index: 4;
  display: grid !important;
}

.btn-principal {
  width: 160px;
}

.div-ediccion {
  display: flex;
}

.div-equipos {
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #bec2c5;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 7px;
}

.btn-guardar {
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #29d884;
  align-items: center;
  justify-content: center;
  margin: 7px;
  display: none;
}

.icon-check {
  font-size: 20px;
}

.icon-ediccion {
  font-size: 20px;
}

.icon-ediccion:hover {
  color: white;
}

.btn-ediccion {
  width: 40px;
  height: 40px;
}
</style>