<template>
<div>
    <div
        style="padding-top: 25px; margin-left: 38px"
      >
        <div class="d-flex" style="align-items: center">
          <div style="padding-right: 18px">
            <img src="@/assets/iconos/icon - puntos.svg" alt="" />
          </div>

          <div>
          
            
            <input
              :id="`inPosicion${posicion.id}`"
              type="text"
              class="inps"
              disabled
              v-model="posicion.nombre"
            />
          </div>
          <div class="div-ediccion" style="">
            <div class="tooltip-container" style="">
              <div class="tooltip-trigger">
                <button
                  class="btn-guardar"
                  :id="`guardarPosicion${posicion.id}`"
                  @click="updatePosicion(posicion)"
                >
                  <i class="icon-check icon-ediccion"></i>
                </button>
              </div>
              <div class="tooltip-one">guardar</div>
            </div>
            <div class="tooltip-container" style="">
              <div class="tooltip-trigger">
                <button
                  class="btn-ediccion"
                  :id="`editPosicion${posicion.id}`"
                  @click="habilitarEdit(posicion)"
                >
                  <i class="icon-editar icon-ediccion"></i>
                </button>
              </div>
              <div class="tooltip-one">Editar</div>
            </div>
            <div class="tooltip-container" style="">
              <div class="tooltip-trigger">
                <button
                  class="btn-ediccion"
                  :id="`deletePosicion${posicion.id}`"
                  @click="GotoDeleteP(posicion)"
                >
                  <i class="icon-eliminar icon-ediccion"></i>
                </button>
              </div>
              <div class="tooltip-one">Eliminar</div>
            </div>
            <div class="tooltip-container" style="">
              <div class="tooltip-trigger">
                <label
                  class="div-equipos"
                  :id="`jugadoresPosicion${posicion.id}`"
                >
                  {{ posicion.cantidadJugadores }}
                </label>
              </div>
              <div
                class="tooltip-one"
                style="width: 400px; padding: 5px 1px; left: -10px"
              >
                Jugadores en esta posición
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</template>

<script>

export default {
    name: "rowPosicion",
    data(){
        return {
        value: ''
        };
    },
    components:{
    },
    props:{
        id:{
            type: Number,
            default: 0
        },
        Nombreposicion:{
            type: String,
            default: "sin posicion"
        },
        jugadoresCount:{
            type: Number,
            default: 0
        },
        posicion:{
            type:Object,
            default(){
                return{
                    "id": "",
                    "nombre":"",
                    "rol_id":"",
                    "deporte_id":"",
                    "created_by":null,
                    "updated_by":null,
                    "created_at":"",
                    "updated_at":"",
                    "deleted_at":null,
                    "cantidadJugadores": 0,
                    "posicion":[]
                }
            }
        }
    },
    methods:{
        updatePosicion(){
            this.$emit('updatePosicion',this.id)
            
        },
        habilitarEdit(){
            this.$emit('habilitarEdit',this.id)
            
        },
        GotoDeleteP(){
            this.$emit('GotoDeleteP', this.id)
            console.log(this.posicion.id, 'desde el log rowPosiciones');
            
        },
        cerrarModalP() {
            this.eliminarPosicion = !this.eliminarPosicion;
            console.log('cerrado desde el log rowPosiciones');
        },
        cerrarModalPDos() {
            this.eliminarPosicionDos = !this.eliminarPosicionDos;
            console.log('cerrado desde el log rowPosiciones');
        },
        cerrarModal() {
            this.eliminarPosicion = !this.eliminarPosicion;
            console.log('cerrado desde el log rowPosiciones' );
        }

    }

}

</script>


<style>
.inps {
  margin-right: 25px;
  width: 280px;
}

.lbl {
  margin-left: 10px;
}
.mostrar-modal-p {
  z-index: 4;
  display: grid !important;
}

.btn-principal {
  width: 160px;
}

.div-ediccion {
  display: flex;
}

.div-equipos {
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #bec2c5;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 7px;
}

.btn-guardar {
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #29d884;
  align-items: center;
  justify-content: center;
  margin: 7px;
  display: none;
}

.icon-check {
  font-size: 20px;
}

.icon-ediccion {
  font-size: 20px;
}

.icon-ediccion:hover {
  color: white;
}

.btn-ediccion {
  width: 40px;
  height: 40px;
}
</style>

