<template>
    <div style="padding-top:30px;">
        <div>
            <div class="" style="display: grid;">
            <div class="d-flex" style="padding-top: 25px; align-items: center;">
                <div class="div-deporte">
                        <i class="icon-futbol"></i>
                </div> 
                <div  style="margin-left: 30px; width: 160px;">
                        <label id="deporte" class="lbl-deporte tres_puntos">{{nombre}}</label>
                </div>
                <div class="div-ediccion" style="margin-left:147px">
                    <div class="tooltip-container" style="padding: 5px;">
                        <div class="tooltip-trigger">
                            <button class="btn-ediccion" @click="GotoEditar()">
                                <i class="icon-editar icon-ediccion "></i>
                            </button>
                        </div>
                        <div class="tooltip-one">
                            Editar
                        </div>
                    </div>
                    <div class="tooltip-container" style="padding: 5px;">
                        <div class="tooltip-trigger">
                            <button class="btn-ediccion" @click="GotoDelete()">
                                <i class="icon-eliminar icon-ediccion"></i>
                            </button>
                        </div>
                        <div class="tooltip-one">
                            Eliminar
                        </div>
                    </div>
                    <div class="tooltip-container" style="padding: 5px;">
                        <div class="tooltip-trigger">
                            <label class="div-equipos">
                            {{equiposCount}}
                            </label>
                        </div>
                        <div class="tooltip-one" style="width: 400px; padding: 5px 1px; left: -10px;">
                            Equipos en este deporte
                        </div>
                    </div>
                    <div style="padding: 5px; margin-left:15px" >
                        <button class="div-flecha" href="#posicion" @click="GoToCollapse()">
                        <i class="icon-flecha-arriba"></i>
                        </button>
                    </div>
                </div>     
            </div>
            <div class="div-collapse" :id="`div-collapse${id}`"  style="display:none">
                <collapseDeporte :class="collapseDeporte ? 'mostrar-collapse':''"  
                @cerrarCollapse="cerrarCollapse" 
                :posiciones="deporte" 
                :idDeporte="id"
                @listarDeporte="listarDeporte" />
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import collapseDeporte from './collapseDeporte.vue'
export default {
    name: 'rowSport',
    components: {
        collapseDeporte
    },
    props: {
        id: {
            type: Number,
            default: 0
        },
        nombre: {
            type: String,
            default: 'Sin nombre'
        },
        idDeporte: Number,
        equiposCount: {
            type: Number,
            default: 0
        },
        collapseDeporte: {
            type: Boolean,
            default: false
        },
        deporte: {
            type: Object,
            default() {
                // default function receives the raw props object as argument
                return {
                    "id":0,
                    "nombre":"",
                    "imagen":"",
                    "created_by":null,
                    "updated_by":null,
                    "created_at":"",
                    "updated_at":"",
                    "deleted_at":null,
                    "equipos_count":0,
                    "posiciones":[]
                }
            }
        }
    },
    methods: {
        GotoEditar () {
            this.$emit('GotoEditar', this.id)
        },
        GotoDelete () {
            this.$emit('GotoDelete', this.id)
        },
        GoToCollapse () {
            console.log(this.equiposCount);
            this.$emit('GoToCollapse', this.id)
        },
        cerrarCollapse () {
            this.eliminarDeporte=!this.eliminarDeporte;
            console.log('cerrado desde el row');
        },
        listarDeporte(){
            this.$emit('listarDeporte', this.id)
        },
    }
}
</script>

<style scoped>
.mostrar-modal{
    z-index: 4;
    display: grid !important;
}
.mostrar-modal-p{
    z-index: 4;
    display: grid !important;
}
.mostrar-modal-editar{
    z-index: 4;
    display: grid !important;
}
.mostrar-collapse{
    z-index: 4;
    display: grid !important;
}
.row{
    margin-left: 0;
    margin-right: 0;
}
.contenedor{
    margin-left: 180px;
}
.div-inputs{
    padding-left: 15px;
}
.titulo{
    font: normal normal bold 28px/35px sans-serif; 
}
.lbl-deporte{
    font: normal  bold 20px/25px sans-serif;
    color: black;
    width: 160px;
    text-align: left;
}
.lbl{
    margin-left: 10px;
}
.tres_puntos{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.inps{
    margin-right: 25px;
    width: 280px;
}
.inp-info{
    height: 171px;
    border: #DFE4E8 0.5px solid;
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}
.div-deporte{
    border: none;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: #bec2c5;
    align-items: center;
    display: flex;
    justify-content: center;
    
}
.div-equipos{
    border: none;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #bec2c5;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 7px;
}
.div-flecha{   
    border: 1px solid;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #c4d2df;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 7px;
}
.div-ediccion{
    display: flex;
}
.icon-futbol{
    font-size: 40px;
    color: black;
}

.btn-ediccion{
    width: 40px;
    height: 40px;
}
.btn-principal{
    width: 160px;
}
</style>