<template>
    <div class="nav-principal">
        <h4 class="texto-principal">{{NombreVista}} <i class="icon-flecha-derecha"></i> </h4>
    </div>
    
</template>

<script>
export default {
    name:'Navbar',
    computed:{
        NombreVista() {
        return this.$route.name;
    }
    }
}
</script>

<style scoped>
.nav-principal{
  
    padding-top: 80px;
    
}
.texto-principal{
    height: 20px;
    text-align: left;
    font: normal 17px/20px sans-serif;
    letter-spacing: 0px;
    color: #FF1E5B;
    opacity: 1;
}
.icon-flecha-derecha{
    color: black;
    font-size: 16px;
}
</style>