<template>
  <div>
    <template>
      <div class="sidebar">
        <div class="logo">
          <img
            src="@/assets/logos/logo-equipos 2.svg"
            alt=""
            class="img-logo"
          />
        </div>
        <div class="div-icon">
          <div
            class="btn-equipos tooltip-container"
            style="margin: 25px"
            v-for="(icon, index) in icons"
            :key="index"
            @click="markIconEvent($event, index)"
            v-bind:class="
              $route.path.includes(icon.name) ? 'Iconactive' : 'btn-equipos-des'
                "
                
          >
            <div class="tooltip-container">
              <div class="tooltip-trigger">
                <router-link :to="icon.ruta">
                  <i :class="icon.image"> </i>
                </router-link>
              </div>
              <div
                class="tooltip-one"
                v-bind:class="$route.path.includes(icon.name) ? 'invert' : 'invert'"
              >
                {{ icon.label }}
              </div>
            </div>
          </div>
        </div>
        <div class="div-icon" style="padding-top: 140px">
          <div class="" style="margin: 15px">
            <img
              src="@/assets/admin/joshua_kimmich.png"
              class="img-opcion"
              alt=""
            />
          </div>
          <div class="" style="margin: 15px">
            <button class="btn-cerrar">
              <i class="icon-flecha-abajo" alt="" />
            </button>
          </div>
          <div class="" style="margin: 15px">
            <img src="@/assets/logos/logo.jpeg" class="img-opcion" alt="" />
          </div>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: "sidebar",
  data() {
    return {
      icons: [
        {
          id: 1,
          image: "icon-equipos",
          label: "Deportes",
          Iconmark: true,
          ruta: "/home",
          name: "home",
        },
        {
          id: 2,
          image: "icon-usuario",
          label: "Administrador",
          Iconmark: false,
          ruta: "/administradores",
          name: "admin",
        },
        {
          id: 3,
          image: "icon-configurar",
          label: "configuración",
          Iconmark: false,
          ruta: "/configuracion",
          name: "configuracion",
        },
      ],
    };
  },
  methods: {
    markIconEvent($event, index) {
      console.log(index);
      this.icons.forEach((icon) => (icon.Iconmark = false));
      this.icons[index].Iconmark = !this.icons[index].Iconmark;
    },
  },
};
</script>

<style scoped>
.invert {
  filter: invert(100%);
}
.Iconactive {
  filter: invert(100%);
  background: #ff1e5b;
}
.icon-usuario {
  font-size: 35px;
  color: black;
}
.icon-configurar {
  font-size: 35px;
  color: black;
}
.icon-equipos {
  font-size: 40px;
  color: black;
}
.sidebar {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 98vh;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 3px #00000029;
  position: fixed;
  z-index: 3;
}
.logo {
  top: 91px;
  left: 18px;
  opacity: 1;
  padding-top: 30px;
}
.div-icon {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-equipos {
  border: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  color: #ff1e5b;
  background-color: #00e1a4;
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn-equipos-des {
  border: none;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  color: #ff1e5b;
  background-color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btn-equipos:hover {
  background-color: #00e1a4;
  filter: invert(100%);
  
  
}
.btn-cerrar {
  border: none;
}
.img-opcion {
  width: 65px;
  padding: 0;
  opacity: 1;
  border-radius: 100%;
  background: #dfe4e8;
  border: none;
}
.icon-usuario:hover {
  color: #ffffff;
}
.icon-configurar:hover {
  color: #ffffff;
}
.icon-equipos:hover {
  color: #ffffff;
}

.img-logo {
  top: 84px;
  left: 14px;
  height: 13vh;
}
.tooltip-one {
  left: 67px;
  bottom: 10px;
}
</style>