<template>
  <div>
    <template>
      <div>
        <img src="@/assets/fondo/Jugadores Login.jpg" class="flex-col img-login" style="width:100% heigth:100%">
        <form class="formulario-login">
          <img src="@/assets/logos/logo - equipos 1.svg" class="flex-col img-logo">
          <div class="align-items-center flex-col">
            <p class="titulo">Iniciar sesión</p>
          </div>
          <div style="padding:22px">
            <div class="contenedor-icon">
              <i class="icon-usuario icono-usuario"></i>
              <input class="inp-login" type="text" v-model="usuario" id="usuario" placeholder="Usuario">
              <i class="icon-check icono-check" v-bind:style="[valido==true ? {'visibility':'visible'} : {'visibility':'hidden'}]"></i>
            </div>
            <div class="contenedor-icon">
              <i class="icon-pass icono-usuario"></i>
              <input class="inp-login" type="password" id="contrasena" placeholder="Contraseña">
            </div>
          </div>
          <div>
            <button type="submit" @click="GoToHome()" class="btn-ingresar text-btn">Ingresar</button>
          </div>
          <div style="padding-top:30px">
            <img src="@/assets/logos/logo-coex.svg" class="img-logo-coex">
          </div>
        </form>
      </div>
    </template>
  </div>
</template>

<script>
  export default {
    name: 'login',

    methods: {
      GoToHome() {
        this.$router.push({
          name: 'Equipos CX'
        })
      },
      validarEmail(value) {
        if (/^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value)) {
          this.valido = true
          console.log("validadito")
        } else {
          this.valido = false
        }
      }

    },
    data() {
      return {
        usuario: '',
        valido: false
      }
    },
    watch: {
      usuario(value) {
        this.usuario = value;
        this.validarEmail(value);
      }
    }

  }
</script>

<style scoped>
  .formulario-login {
    top: 142px;
    left: 109px;
    width: 394px;
    height: 549px;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #F6F9FB 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    opacity: 0.8;
    z-index: 1;
    align-items: center;
    position: relative;
  }

  .img-login {
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    z-index: -1;
    position: fixed;
  }

  .img-logo {
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .img-logo-coex {
    top: 634px;
    left: 299px;
    width: 100px;
    height: auto;
    opacity: 1;
  }

  .titulo {
    top: 353px;
    left: 199px;
    text-align: center;
    font: normal bold 35px/43px sans-serif;
    letter-spacing: 0px;
    color: #001620;
    margin-top: 0;
    margin-bottom: 0;
  }

  .btn-ingresar {
    top: 536px;
    left: 164px;
    width: 280px;
    height: 40px;
    background: #FF1E5B 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    border: #a10c34 2px;
  }

  .text-btn {
    text-align: center;
    font: normal bold 16px/19px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

  @media only screen and (max-width: 1304px) {

    .formulario-login {
      left: 10px;
      right: 1px;
      height: 550px;
      justify-content: center;
    }
  }

  .contenedor-icon {
    display: flex;
    padding: 4px;

  }

  .inp-login {
    top: 418px;
    left: 164px;
    width: 280px;
    height: 40px;
    border: 1px solid var(--gris-claro-borde);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DFE4E8;
    border-radius: 8px;
    padding: 0.25em 0.6em;
    padding-left: 30px;
    padding-right: 30px;
  }

  .icono-usuario {
    position: relative;
    left: 30px;
    top: 5px;
    font-size: 20px;
  }

  .icono-pass {
    background-image: url(../assets/iconos/icon-pass.svg);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  .icono-check {
    position: relative;
    right: 30px;
    top: 5px;
    font-size: 20px;
    color:limegreen;
  }
</style>