<template>
  <div>
      <h1>prueba</h1>
      <sidebar />
  </div>
</template>

<script>
import sidebar from './layouts/navbars/sidebar.vue'
export default {
  components: { sidebar },

}
</script>

<style>

</style>