<template>
    <div class="col-md-3 tarjetas tooltip-container " v-show="showCard">
        <router-link :to="{name: 'Administrador info', params:{id:id}}"
            style="text-decoration: none; color: inherit; display: flex; justify-content: center;">
            <div class="tooltip-trigger">
                <img src="@/assets/entrenadores/DT julian_nagelsmann.jpg" class="logo" alt="">
                <p class="titulo-tarjeta">{{nombres+ " "+apellidos}}</p>
                <div class="d-flex centrar" style="">
                    <div class="rectangulo">
                    </div>
                    <div class="rectangulo-dos">
                    </div>
                </div>
            </div>
            <div class="tooltip-one">
                <p class="info">
                    {{acerca}}
                </p>
            </div>
        </router-link>

    </div>

</template>

<script>
    export default {
        name: 'adminList',
        props: {
            id: {
                type: Number,
                default: 0
            },
            nombres: {
                type: String,
                default: 'sin nombres'
            },
            apellidos: {
                type: String,
                default: 'sin apellidos'
            },
            imagen:{
                type: String,
                default: 'sin imagen'
            },
            acerca: {
                type: String,
                default: 'sin descripcion'
            },
            admins: {
                type: Object,
                default () {
                    return {
                        "id": 0,
                        "nombres": "",
                        "apellidos": "",
                        "imagen": "",
                        "acerca": "",
                        "created_by": null,
                        "updated_by": null,
                        "created_at": "",
                        "updated_at": "",
                        "deleted_at": null,
                        "users": []

                    }
                }
            },
            textoBuscar: {
                type: String,
                default: ''
            }

        },
        computed: {
            nombreCompleto(){
                return `${this.nombres} ${this.apellidos}`;
            },
            showCard () {
                return  this.nombreCompleto.toLowerCase().indexOf(this.textoBuscar.toLowerCase()) > -1
            }
        }
    }
</script>

<style scoped>

.col-md-3 {
    flex: 0 0 25%;
    max-width: 60%;
  }
.tooltip-one{
    max-width: 100%;
    border-radius: 22px;
    top: 275px;
    
}
.position-tooltip{
    margin-left: 25px;
}
.position{
    position: relative; 
    z-index: -1;
}
.nav-contenido{
    padding-top: 30px;
}
.inp-buscar{
    top: 172px;
    left: 712px;
    width: 230px;
    height: 40px;
    border: 1px solid var(--gris-claro-borde);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 20px;
    padding: 0.25em 0.6em;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 25px;
}
.btn-cerrar{
    right: 65px;
    width: 30px;
    height: 30px;
    top: 5px;
}


.row{
    margin-left: 0;
    margin-right: 0;
}
.tarjetas{
  padding-top: 40px;
  padding-left: 0;
}
.info{
    font: normal 11px/15px sans-serif;
    margin-bottom: 0px;
}
.logo{
    left: 204px;
    width: 160px;
    height: 160px;
    border-radius: 100%;
}
.logo:hover{
    box-shadow: 1px 0px 20px 5px rgb(182, 181, 181);
}
.titulo-tarjeta{
    padding-top: 20px;
    text-align: center;
    font: normal  bold 25px/31px sans-serif ;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-bottom: 0px;
}
.div-btn{
    display: inline-flex;
    align-items: center;
}
.icon-deporte-fondo{
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background: #637381 0% 0% no-repeat padding-box;
    border: none;
}
.icono-buscar{
    position: relative;
    left: 28px;
    top: 9px;
}
.icon-deporte{
    font-size: 27px;
    color: white;
}
.icon-espectadores-fondo{
   
    height: 40px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 19px;
    border: none;
    display: flex;
}
.icon-espectadores{
    font-size: 25px;
    color: #FFFFFF;
}
.num-espectadores{
    text-align: end;
    font: normal  16px/19px sans-serif;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 9px;
    margin-left: 2px;
}

.contenedor-icon{
    display: flex;
    justify-content: center;
}
.rectangulo {
     width: 120px; 
     height: 5px; 
     background: #64C1FF;
     border-radius: 100px;
     margin-top: 8px;
}
.rectangulo-dos {
    width: 15px;
    height: 5px;
    background: #64C1FF;
    border-radius: 100px;
    margin-top: 8px;
    margin-left: 5px;
}
@media (max-width: 1470px) {
  .tooltip-one {
    top: 300px;
  }
}
@media (max-width: 1470px) {
  .tooltip-one {
    top: 275px;
  }
}
</style>