<template>
  <div class="hello">
    <vueCropper
      ref="cropper"
      :img="option.img1"
      :outputType="option.outputType"
      :autoCrop="option.autoCrop"
      :autoCropWidth="option.autoCropWidth"
      :autoCropHeight="option.autoCropHeight"
      @realTime="realTime"
      class="vuecropper"
    >
    </vueCropper>
    <button @click="demo">Demo</button>
    <button @click="preview">Preview</button>
    <div class="preview"><img :src="`${modelSrc}`" /></div>
  </div>
</template>

<script>
import { VueCropper } from "vue-cropper";

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  components: {
    VueCropper,
  },
  data() {
    return {
      modelSrc: "",
      option: {
        img1: "https://fakeimg.pl/450x300/", // 圖片來源
        outputType: "png", // 產生圖片的格式
        autoCrop: true, // 是否要有截圖框
        autoCropWidth: 350, // 截圖框寬
        autoCropHeight: 220, //截圖框高
      },
    };
  },
  methods: {
    preview() {
      this.$refs.cropper.getCropData((data) => {
        // console.log(data);
        this.modelSrc = data;
      });
    },
    realTime(data) {
      this.previews = data;
      // console.log(data);
    },
    demo() {
      this.$refs.cropper.getCropData((data) => {
        console.log(data);
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.vuecropper {
  height: 300px;
  margin: 20px 0 20px 0;
}

.preview {
  margin-top: 10px;
}
</style>
