<template>
<div>
  <ValidationObserver v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(onSubmit)">
              <ValidationProvider name="E-mail" rules="required|email" v-slot="{ errors }">
                <input v-model="email" type="email">
                <span>{{ errors[0] }}</span>
              </ValidationProvider>

              <ValidationProvider name="First Name" rules="required|alpha" v-slot="{ errors }">
                <input v-model="firstName" type="text">
                <span>{{ errors[0] }}</span>
              </ValidationProvider>

              <ValidationProvider name="Last Name" rules="required|alpha" v-slot="{ errors }">
                <input v-model="lastName" type="text">
                <span>{{ errors[0] }}</span>
              </ValidationProvider>

        <button type="submit">Submit</button>
    </form>
  </ValidationObserver>
  </div>
</template>

<script>
export default {
  data: () => ({
    firstName: '',
    lastName: '',
    email: ''
  }),
  methods: {
    onSubmit () {
      alert('Form has been submitted!');
    }
  }
};
</script>

<style scoped>
span {
  display: block;
}
</style>