<template>
    <div>
        <sidebar/>
        <div class="contenedor">
            <navbar />
            <router-view/>
            <equipos />
        </div>
    </div>
</template>

<script>
import sidebar from '@/views/layouts/navbars/sidebar.vue'
import Navbar from '@/views/layouts/navbars/navs/navbar.vue'
import Equipos from '@/views/equipos/equipos.vue'


export default {
    name: 'home',
    components:{
        sidebar,
        Navbar,
        Equipos
    }
}
</script>

<style scoped>
.aaa{
    display: flex;
}
.contenedor{
    margin-left: 180px;
}


</style>