<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
body{
  background-color: #ebf1f5 !important;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100vw;
  height: 100vh;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
/*botones*/
.btn-principal{
  top: 536px;
  left: 164px;
  width: 230px;
  height: 40px;
  background: #FF1E5B 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  border: #a10c34 2px;
  border-style: none;
}
.btn-principal:hover{
  box-shadow: 0px 5px 0px 0px #FF1E5B66
}
.btn-dos{
  top: 536px;
  left: 164px;
  width: 230px;
  height: 40px;
  background: #FFD4DF 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  border: #a10c34 2px;
  border-style: none;
}
.btn-dos:hover{
  box-shadow: 0px 5px 0px 0px #FF1E5B66
}
.btn-cerrar{
    background-color: #FFFFFF;
    position: relative;
    border: none;
    border-bottom: #FFFFFF;
    border-color: #FFFFFF;
   
}
/*texto*/
.text-btn-dos{
  top: 473px;
  left: 701px;
  width: 46px;
  height: 19px;
  text-align: center;
  font: normal normal medium 16px/19px sans-serif;
  letter-spacing: 0px;
  color: #541023;
  opacity: 1;
}
.titulo{
    text-align: left;
    font: normal bold 35px/43px sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.text-btn{
  text-align: center;
  font: normal bold 16px/19px sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}

/*modal*/
.main-principal{
  display: none !important;
}
.modal-principal{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 6px #88888861;
  border-radius: 8px;
  /* display: grid; */
}
.fondo-modal{
    height:100vh; 
    width:100vw; 
    background-color: rgb(131 131 131 / 50%); 
    position: fixed;  
    top: 0;
}
.linea-modal {
    width: auto;
     height: 1px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #FFD4DF;
     margin-bottom: 10px;
     margin-right: 10px;
    margin-left: 10px;
}
/*ajuste en pantalla*/
.centrar{
 display:flex;
  justify-content:center;
  align-items:center;
}
.separar{
  display:flex;
  justify-content:space-between;
}
.end{
  display: flex;
  justify-content: flex-end;
  padding-right: 12px;
  align-self: center;
  
}
/*inputs*/
.inps{
    top: 172px;
    left: 712px;
    width: 360px;
    height: 40px;
    border: #DFE4E8 0.5px solid;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border-radius: 8px;
    padding-left: 18px;
    padding-right: 18px;
}
.div-inputs{
    display: inline-grid;
}
/*label*/
.lbl{
    text-align: left;
    font: normal  13px/15px sans-serif;
    letter-spacing: 0px;
    color: #637381;
    margin-bottom: 0;
}
.lbl-validation{
    text-align: left;
    font: normal  13px/15px sans-serif;
    letter-spacing: 0px;
    color: #df0909;
    margin-bottom: 0;
    margin-left: 10px;
}
.lbl-posicion{
  text-align: center;
  font: normal  18px/21px sans-serif;
  letter-spacing: 0px;
}
.lbl-jugador{
  text-align: center;
  font: normal  bold 24px/30px sans-serif;
  letter-spacing: 0px;
  color: #000000;
}
/*tooltip*/
.tooltip-container {
  position: relative;
  cursor: pointer;
}
.tooltip-one {
  padding: 10px 10px;
  background: #fff;
  position: absolute;
  max-width: 180px;
  border-radius: 60px;
  text-align: center;
  filter: drop-shadow(0 3px 5px #ccc);
  line-height: 1.5;
  z-index: 4;
}
/*ocultar el tooltip*/
.tooltip-container .tooltip-one {
  display: none;
}
.tooltip-trigger:hover + .tooltip-one {
  display: block;
}
/*boton editar*/
.btn-ediccion{
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #FFD4DF;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 7px;
    
}
.btn-ediccion:hover{
    background-color: #FF1E5B;
    box-shadow: 1px 5px 5px rgb(92, 90, 90);
}
</style>
